@page "/blockchain/summary"
@using CertiChain.Frontend.JsonObjects.Blockchain
@using CertiChain.Frontend.JsonObjects.Signature

@inject IBlockchainService _blockchainService
@inject IToastService _toastService

<Container Fluid="true">
    <Div Flex="Flex.JustifyContent.Center">
        <Row Width="Width.Is75">
            <AuthorizeView>
                <Authorized>
                    <Heading Size="HeadingSize.Is3" Margin="Margin.Is3.FromTop.Is3.FromBottom">
                        Přehled záznamů uživatele v systému Blockchain
                    </Heading>
                    @if (records?.ItemCount <= 0)
                    {
                        <Alert Color="Color.Info" Visible="true">
                            <AlertMessage>
                                Na Vašem účtu nejsou zatím vedeny žádné záznamy v systému blockchain
                            </AlertMessage>
                        </Alert>
                    }
                    @if (records?.ItemCount > 0)
                    {
                        <Accordion Margin="Margin.Is3.FromBottom">
                            <Collapse Visible="@filterCollapseIsVisible">
                                <CollapseHeader Background="Background.Warning">
                                    <Heading Size="HeadingSize.Is5">
                                        <Button Clicked="@(() => filterCollapseIsVisible = !filterCollapseIsVisible)">Filtrování záznamů blockchain</Button>
                                    </Heading>
                                </CollapseHeader>
                                <CollapseBody>
                                    <Form>
                                        <Row>
                                            <Column>
                                                <Field>
                                                    <FieldLabel>
                                                        Datum vložení od
                                                    </FieldLabel>
                                                    <DateEdit ElementId="deFilterFrom" TValue="DateTime?" @bind-Date="@filterDateFrom" />
                                                </Field>
                                            </Column>
                                            <Column>
                                                <Field>
                                                    <FieldLabel>
                                                        Datum vložení od
                                                    </FieldLabel>
                                                    <DateEdit ElementId="deFilterTo" TValue="DateTime?" @bind-Date="@filterDateTo" />
                                                </Field>
                                            </Column>
                                        </Row>
                                        <Button Type="ButtonType.Button" Clicked="@BtnFilterClicked" Color="Color.Primary">
                                            Filtrovat
                                        </Button>
                                    </Form>
                                </CollapseBody>
                            </Collapse>
                        </Accordion>
                        <Table Margin="Margin.Is1">
                            <TableHeader>
                                <TableRow>
                                    <TableHeaderCell>Id záznamu</TableHeaderCell>
                                    <TableHeaderCell>Otisk záznamu</TableHeaderCell>
                                    <TableHeaderCell>Datum vytvoření záznamu</TableHeaderCell>
                                    <TableHeaderCell></TableHeaderCell>
                                </TableRow>
                            </TableHeader>
                            <TableBody>
                                @foreach (var record in filteredRecords)
                                {
                                    <TableRow>
                                        <TableRowHeader>@record.ProofId</TableRowHeader>
                                        <TableRowCell>@(FormatRecordHash(record.RecordHash))</TableRowCell>
                                        <TableRowCell>@record.CreationTime</TableRowCell>
                                        <TableRowCell>
                                            <Button Type="ButtonType.Button" Color="Color.Secondary" Outline Clicked="@(() => CheckRecord(record.ProofId))"
                                                    ElementId="@(GetBtnVerifyId())">
                                                Zkontrolovat záznam
                                            </Button>
                                        </TableRowCell>
                                    </TableRow>
                                }
                            </TableBody>
                        </Table>
                    }
                </Authorized>
                <NotAuthorized>
                    <UnauthorizedAccess />
                </NotAuthorized>
            </AuthorizeView>
        </Row>
    </Div>
</Container>


@code {
    private GetUserBlockchainRecordsResp records;
    private List<UserBlockchainRecord> filteredRecords;
    private bool filterCollapseIsVisible = true;

    private DateTime? filterDateFrom;
    private DateTime? filterDateTo;
    private int index = 0;

    protected override async Task OnInitializedAsync()
    {
        try
        {
            records = await _blockchainService.GetUserRecordsAsync();
            filteredRecords = records.Items;
            index = 0;
        }
        catch (Exception ex)
        {
            Console.WriteLine("Initialize view failed!!!");
            Console.WriteLine(ex);
            var msg = ex is CertiChainApiException cex && !string.IsNullOrWhiteSpace(cex.ErrorDetails.AdditionalInfo) ?
                cex.ErrorDetails.AdditionalInfo : ex.Message;
            _toastService.ShowError($"Při získávání záznamů v systému blockchain nastala chyba - {msg}", "Chyba");
        }
    }

    private async Task CheckRecord(string recordId)
    {
        try
        {
            var verifyResult = await _blockchainService.CheckRecordValidityAsync(recordId);
            if (verifyResult == null) _toastService.ShowError("Záznam se nepodařilo najít v systému blockchain", $"Výsledek ověření - {recordId}");
            switch (verifyResult)
            {
                case BlockchainVerifyStatus.Confirmed:
                case BlockchainVerifyStatus.Pending:
                case BlockchainVerifyStatus.Submitted:
                    _toastService.ShowInfo($"Záznam {recordId} je evidován v systému, ale ještě nebyl uložen do blockcain databáze", "Informace");
                    break;
                case BlockchainVerifyStatus.Valid:
                    _toastService.ShowSuccess($"Záznam {recordId} je validní", "Úspěch");
                    break;
                default:
                    _toastService.ShowError($"Záznam {recordId} byl kompromitován", "Neúspěch");
                    break;
            }
        }
        catch (Exception ex)
        {
            Console.WriteLine("Check record failed!!!");
            Console.WriteLine(ex);
        }
    }

    private void BtnFilterClicked()
    {
        if (filterDateFrom == null && filterDateTo == null) return;

        if (filterDateFrom != null && filterDateTo == null)
        {
            filteredRecords = records.Items.Where(x => x.CreationTime >= filterDateFrom.Value).ToList();
        }
        else if (filterDateFrom == null && filterDateTo != null)
        {
            filteredRecords = records.Items.Where(x => x.CreationTime <= filterDateTo.Value).ToList();
        }
        else
        {
            filteredRecords = records.Items.Where(x => x.CreationTime >= filterDateFrom && x.CreationTime <= filterDateTo).ToList();
        }
    }

    private string FormatRecordHash(string fullHash) =>
        $"{fullHash.Substring(0, 10)}...{fullHash.Substring(fullHash.Length - 10, 10)}";

    private string GetBtnVerifyId()
    {
        var id = $"btnVerify{index}";
        index++;
        return id;
    }


}