﻿@page "/"
<Container Fluid="true" Flex=Flex.JustifyContent.Center Height=Height.Is100 Position=Position.Relative>
    <Row Width=Width.Is75 Margin=Margin.Is3.FromTop>
        <Column ColumnSize=ColumnSize.Is4 Position=Position.Relative >
            <Div Flex=Flex.JustifyContent.Center Position=Position.Absolute.Start.Is50.Top.Is50.Translate.Middle>
                <img src="images/Logo.svg" style="max-width:100%;" />
            </Div>
        </Column>
        <Column ColumnSize=ColumnSize.Is8>
            <Jumbotron VerticalAlignment=VerticalAlignment.Middle Position=Position.Relative.Top.Is50.Translate.MiddleY Background=Background.Transparent>
                
                <JumbotronSubtitle>
                    CertiChain
                </JumbotronSubtitle>
                <Paragraph>
                    CertiChain je webová aplikace, která spojuje výhody digitálních podpisů a block-chain systémů. V aplikaci CertiChain si můžete
                    podepsat data pomocí svého komerčního/kvalifikovaného certifikátu a poté podepsaná data společně s certifikátem vložit do systému Blockchain.
                </Paragraph>
                <Divider></Divider>
                <JumbotronSubtitle>
                    Proč používat aplikaci CertiChain?
                </JumbotronSubtitle>
                <Paragraph>
                    Aplikace CertiChain řeší zásadní problém digitálních podpisů, a to je jejich platnost. Dnes již existuje spousta standartů, jak
                    prodloužit platnost podpisu, nikdy jej ale nelze prodloužit na dobu neurčitou. Tento problém lze vyřešit pomocí blockchainových systémů.
                    Aplikace CertiChain po podepsání dat nahraje otisk podepsaných dat, podpisu (pokud je externí) i certifikátu do blockchainu, kde budou data díky 
                    principům blockchainu bezpečně uchovány.
                </Paragraph>
                <Divider></Divider>
                <JumbotronSubtitle>
                    Jak používat aplikaci CertiChain?
                </JumbotronSubtitle>
                <Paragraph>
                    Pro použití aplikace CertiChain je potřeba se zaregistrovat. Po registraci a přihlášení do systému bude umožněno podepisovat data a náhrávat je do 
                    blockchainového systému a data také ověřovat.
                </Paragraph>
            </Jumbotron>
        </Column>
    </Row>
</Container>


 