﻿@page "/user/login"


@inject IToastService _toastService
@inject IAccountService _accountService
@inject NavigationManager _navManager

<Container Height=Height.Is100 Fluid="true" Flex=Flex.JustifyContent.Center>
    <Row Width=Width.Is50>
        <Column>
            <Form Position=Position.Relative.Top.Is50.Translate.MiddleY>
                <Heading Size=HeadingSize.Is2 Margin=Margin.Is4.FromBottom>Přihlášení</Heading>
                <Validations Model="@model" Mode=ValidationMode.Auto ValidateOnLoad=false>
                    <Validation>
                        <Field Margin=Margin.Is4.FromBottom>
                            <FieldLabel>Emailová adresa:</FieldLabel>
                            <TextEdit ElementId="teEmail" Role=TextRole.Email @bind-Text="@model.Email">
                                <Feedback>
                                    <ValidationError />
                                </Feedback>
                            </TextEdit>
                        </Field>
                    </Validation>
                    <Validation>
                        <Field Margin=Margin.Is4.FromBottom>
                            <FieldLabel>Heslo:</FieldLabel>
                            <TextEdit ElementId="tePwd" Role=TextRole.Password @bind-Text="@model.Password">
                                <Feedback>
                                    <ValidationError />
                                </Feedback>
                            </TextEdit>
                        </Field>
                    </Validation>
                    <Alert ElementId="alertWrongPwd" Color="Color.Danger" @bind-Visible="@notFoundIsVisible">
                        <AlertMessage>
                            Uživatel nebyl nalezen nebo bylo špatně zadáno heslo.
                        </AlertMessage>
                    </Alert>
                    <Div Flex=Flex.JustifyContent.Center>
                        <Button ElementId="btnLogin" Loading="@isLoggingIn" Color=Color.Primary Type=ButtonType.Button
                            Clicked="@BtnLoginClicked" Margin=Margin.Is3.FromEnd>
                            Přihlásit
                        </Button>
                        <Button ElementId="btnForgotPwd" Background=Background.Secondary Color=Color.Secondary Type=ButtonType.Button Clicked="@ShowModal">
                            Zapomněl jsem heslo
                        </Button>
                    </Div>
                    
                </Validations>
            </Form>
        </Column>
    </Row> 
    <Modal @ref="modal">
    <ModalContent Centered=true>
        <ModalHeader >
            <Heading Size=HeadingSize.Is2>Resetování hesla</Heading>
        </ModalHeader>
        <ModalBody>
            <Paragraph>
                Pro resetování hesla zadejte Vaši emailovou adresu, na kterou Vám bude zasláno nové heslo. Po přihlášení zaslaným heslem je doporučeno jej
                ihned změnit.
            </Paragraph>
            <Validations Model="@resetPwdModel" Mode=ValidationMode.Auto>
                <Validation>
                    <Field>
                        <FieldLabel>
                            Emailová adresa
                        </FieldLabel>
                        <TextEdit ElementId="tePwdResetEmail" Placeholder="user@example.com" @bind-Text="@resetPwdModel.Email">
                            <Feedback>
                                <ValidationError />
                            </Feedback>
                        </TextEdit>
                    </Field>
                </Validation>
            </Validations>
            
        </ModalBody>
        <ModalFooter>
            <Button ElementId="btnResetPwd" Color=Color.Primary Clicked="@ResetPassword" Loading="@resetingPassword">
                Resetovat heslo
            </Button>
            <Button ElementId="btnResetPwdCancel" Color=Color.Secondary Clicked=@HideModal>
                Zrušit
            </Button>
        </ModalFooter>
    </ModalContent>
</Modal>
</Container>



@code {
    private LoginModel model = new LoginModel();
    private bool isLoggingIn = false;
    private bool notFoundIsVisible = false;

    private Modal modal;
    private ResetPwdModel resetPwdModel = new ResetPwdModel();
    private bool resetingPassword = false;

    private async Task BtnLoginClicked()
    {
        try
        {
            var isValid = Validator.TryValidateObject(model, new ValidationContext(model), null);
            if (isValid)
            {
                notFoundIsVisible = false;
                isLoggingIn = true;
                var loginRes = await _accountService.LoginAsync(model);
                isLoggingIn = false;
                if (loginRes)
                {
                    _navManager.NavigateTo(FrontendUris.UserHome , true);
                }
            }
            else
                _toastService.ShowWarning("Pole nejsou správně vyplněna", "Upozornění");
        }
        catch (Exception ex)
        {
            isLoggingIn = false;  
            Console.WriteLine(ex);
            if (ex is CertiChainApiException cex)
            {
                if (cex.ErrorDetails?.Code == 404 || cex.ErrorDetails?.Code == 403)
                    notFoundIsVisible = true;
            }
        }
    }

    private Task ShowModal() 
    {
        resetPwdModel = new ResetPwdModel();
        return modal.Show();
    }

    private Task HideModal() => modal.Hide();

    private async Task ResetPassword()
    {
        try
        {
            var isValid = Validator.TryValidateObject(resetPwdModel, new ValidationContext(resetPwdModel), null);
            if (isValid)
            {
                resetingPassword = true;
                var result = await _accountService.ResetPasswordAsync(resetPwdModel);
                resetingPassword = false;
                if (result)
                {
                    _toastService.ShowSuccess("Heslo bylo resetováno");
                    _ = HideModal();
                }
            }
            else _toastService.ShowWarning("Pro resetování hesla je potřeba vyplnit emailovou adresu", "Upozornění");
        }
        catch (Exception ex)
        {
            resetingPassword = false;
            Console.WriteLine(ex);
            if (ex is CertiChainApiException cex) _toastService.ShowError($"Při resetování hesla nastala chyba - {cex.ErrorDetails.AdditionalInfo}");
            else _toastService.ShowError($"Při resetování hesla nastala chyba - {ex.Message}");
        }
    }
}
