﻿@page "/user/register"


@inject IAccountService _accountService
@inject IToastService _toastService
@inject NavigationManager _navManager

<Container Fluid="true" Flex=Flex.JustifyContent.Center Height=Height.Is100 Position=Position.Relative>
    <Row Width=Width.Is50 Margin=Margin.Is3.FromTop>
        <Column ColumnSize=ColumnSize.Is12>
            <Form Position=Position.Relative.Top.Is50.Translate.MiddleY>
                <Heading Size=HeadingSize.Is2 Margin=Margin.Is4.FromBottom>
                    Registrace
                </Heading>
                <Validations @ref="validator" Mode=ValidationMode.Auto Model="@model" ValidateOnLoad=false>
                    <Validation>
                        <Field Margin=Margin.Is4.FromBottom>
                            <FieldLabel>Emailová adresa:</FieldLabel>
                            <TextEdit ElementId="teEmail" Placeholder="Zadejte emailovou adresu..." Role=TextRole.Email @bind-Text="@model.Email">
                                <Feedback>
                                    <ValidationError />
                                </Feedback>
                            </TextEdit>
                        </Field>
                    </Validation>
                    <Validation>
                        <Field Margin=Margin.Is4.FromBottom>
                            <FieldLabel>Heslo:</FieldLabel>
                            <TextEdit ElementId="tePwd" Placeholder="Zadejte heslo..." Role=TextRole.Password @bind-Text="@model.Password">
                                <Feedback>
                                    <ValidationError />
                                </Feedback>
                            </TextEdit>
                        </Field>
                    </Validation>
                    <Validation>
                        <Field Margin=Margin.Is4.FromBottom>
                            <FieldLabel>Heslo znovu:</FieldLabel>
                            <TextEdit ElementId="tePwdAgain" Placeholder="Zopakujte heslo..." Role=TextRole.Password @bind-Text="@model.PasswordAgain">
                                <Feedback>
                                    <ValidationError />
                                </Feedback>
                            </TextEdit>
                        </Field>
                    </Validation>
                    <Alert ElementId="alertEmailRegistered" Color=Color.Warning @bind-Visible="@alertIsVisible">
                        <AlertMessage>
                            Pro zadaný email již existuje uživatelský účet. 
                        </AlertMessage>
                    </Alert>
                    <Button ElementId="btnRegister" Type=ButtonType.Button Position=Position.Relative.Start.Is50.Translate.MiddleX Clicked="@BtnRegisterClicked"
                        Color=Color.Primary Loading="@regIsRunning">
                        Registrovat
                    </Button>
                </Validations>
            </Form>
        </Column>
    </Row>
</Container>

@code {
    private RegisterModel model = new RegisterModel();
    private bool regIsRunning = false;
    private bool alertIsVisible = false;
    private Validations validator;

    private async Task BtnRegisterClicked()
    {
        try
        {
            alertIsVisible = false;
            var isValid = await validator?.ValidateAll();
            if (isValid)
            {
                regIsRunning = true;
                var reqRes = await _accountService.RegisterAsync(model);
                regIsRunning = false;

                if (reqRes) _navManager.NavigateTo(FrontendUris.UserHome, true);
            }
            else
            {
                _toastService.ShowWarning("Vstupní pole nejsou správně vyplněna", "Chyba validace dat");
            }
        }
        catch(Exception ex)
        {
            regIsRunning = false;
            if (ex is CertiChainApiException cex && cex.ErrorDetails.Code == 409)
            {
                if (cex.ErrorDetails.Code == 409) alertIsVisible = true;
                else _toastService.ShowError(cex.ErrorDetails.AdditionalInfo, "Chyba");
            }
        }
    }
}
