﻿@page "/user/settings"

@inject IToastService _toastService
@inject IAccountService _accountService
@inject NavigationManager _navManager

<Container Fluid=true Width=Width.Is100 Height=Height.Is100>
    <AuthorizeView>
        <Authorized>
            <Div Flex=Flex.JustifyContent.Center Position=Position.Relative.Top.Is50.Translate.MiddleY>
                <Row Width=Width.Is75>
                    <Column>
                        @if(hasConfirmedEmail == false)
                        {
                        <Alert ElementId="alertEmailNotVerified" Color=Color.Info Visible="true">
                            <AlertMessage>
                                Váš učet ještě nemá potvrzenou emailovou adresu. Vyhledejte potvrzovací email ve Vaší schránce nebo si jej
                                nechte zaslat znovu.
                            </AlertMessage>
                        </Alert>
                        <Button ElementId="btnSendVerifyEmail" Color="Color.Primary" Type="ButtonType.Button" Clicked="@ResendActivationEmail" 
                            Loading="@isResendingEmail">
                            Znovu odeslat aktivační email
                        </Button>
                        }
                        <Heading Size=HeadingSize.Is2>
                            Změna hesla
                        </Heading>
                        <Validations Mode=ValidationMode.Auto Model="@changePwdModel" ValidateOnLoad=false>
                            <Form>
                                <Validation>
                                    <Field>
                                        <FieldLabel>Staré heslo</FieldLabel>
                                        <TextEdit @bind-Text="@changePwdModel.OldPassword" Placeholder="Zadejte staré heslo..." Role=TextRole.Password
                                                  ElementId="teOldPwd">
                                            <Feedback>
                                                <ValidationError/>
                                            </Feedback>
                                        </TextEdit>
                                    </Field>
                                </Validation>
                                <Validation>
                                    <Field>
                                        <FieldLabel>Nové heslo</FieldLabel>
                                        <TextEdit @bind-Text="@changePwdModel.NewPassword" Placeholder="Zadejte nové heslo..." Role=TextRole.Password
                                                  ElementId="teNewPwd">
                                            <Feedback>
                                                <ValidationError/>
                                            </Feedback>
                                        </TextEdit>
                                    </Field>
                                </Validation>
                                <Validation>
                                    <Field>
                                        <FieldLabel>Nové heslo znovu</FieldLabel>
                                        <TextEdit @bind-Text="@changePwdModel.NewPasswordAgain" Placeholder="Zopakujte nové heslo..." Role=TextRole.Password
                                                  ElementId="teNewPwdAgain">
                                            <Feedback>
                                                <ValidationError/>
                                            </Feedback>
                                        </TextEdit>
                                    </Field>
                                </Validation>
                                <Button Type=ButtonType.Button Clicked="@BtnChangePwdClicked" Background=Background.Primary Color=Color.Primary
                                        Loading="@isChangingPwd" ElementId="btnChangePwd">
                                    Změnit heslo
                                </Button>
                            </Form>
                        </Validations>
                    </Column>
                    <Column>
                        <Heading Size=HeadingSize.Is2>
                            Deaktivace účtu
                        </Heading>
                        <Paragraph>
                            Při deaktivaci účtu dojde ke smazání Vašeho uživatelského účtu. Záznamy uložené v systému Blockchain
                            nadále zůstanou a v budoucnosti bude stále možno ověřit podesaná data vytvořené tímto uživatelským účtem.
                        </Paragraph>
                        <Button Position=Position.Relative.Start.Is50.Translate.MiddleX Color=Color.Danger
                            Clicked="@BtnDeactivateClicked" ElementId="btnDeactivateAccount">
                            Deaktivovat
                        </Button>
                    </Column>
                </Row>
            </Div>
            <Modal @ref="@modal">
                <ModalContent Centered=true>
                    <ModalTitle>
                        <Heading Size=HeadingSize.Is2 Margin=Margin.Is4>
                            Deaktivace účtu
                        </Heading>
                    </ModalTitle>
                    <ModalBody>
                        <Paragraph Margin=Margin.Is3>
                            Jste si jistí že chcete trvale deaktivovat svůj účet? Pro deaktivaci hesla je potřeba zadat heslo.
                        </Paragraph>
                        <Validation Validator="@ValidationRule.IsNotEmpty">
                            <Field Margin=Margin.Is3>
                                <FieldLabel>
                                    Heslo
                                </FieldLabel>
                                <TextEdit Role=TextRole.Password @bind-Text="@deactivatePwd" ElementId="teDeactivatePwd">
                                    <Feedback>
                                        <ValidationError>Heslo musí být vyplněno</ValidationError>
                                    </Feedback>
                                </TextEdit>
                            </Field>
                        </Validation>
                    </ModalBody>
                    <ModalFooter>
                        <Button  Color=Color.Danger Type=ButtonType.Button 
                            Clicked="@BtnDeactivateConfirmedClicked" Loading="@isDeactivating" ElementId="btnDeactivateYes">
                            Deaktivovat
                        </Button>
                        <Button Color=Color.Secondary Type=ButtonType.Button
                            Clicked="@BtnHideModal" ElementId="btnDeactivateNo">
                            Zrušit
                        </Button>
                    </ModalFooter>
                </ModalContent>
            </Modal>
        </Authorized>
        <NotAuthorized>
            <UnauthorizedAccess />
        </NotAuthorized>
    </AuthorizeView>
</Container>

@code {
    private ChangePwdModel changePwdModel = new ChangePwdModel();
    private bool isChangingPwd = false;
    private Modal modal;
    private string deactivatePwd;
    private bool isDeactivating = false;
    private bool hasConfirmedEmail = true;
    private bool isResendingEmail = false;

    protected override async Task OnInitializedAsync()
    {
        try
        {
            var userInfo = await _accountService.GetUserInfoAsync();
            if(userInfo != null)
            {
                hasConfirmedEmail = userInfo.EmailIsConfirmed;
            }
            else
            {
                hasConfirmedEmail = true;
            }
        }
        catch(Exception ex)
        {
            Console.WriteLine(ex);
            // ignore exception
        }
    }

    private async Task BtnChangePwdClicked()
    {
        try
        {  
            var isValid = Validator.TryValidateObject(changePwdModel, new ValidationContext(changePwdModel), null);
            if (isValid)
            {
                isChangingPwd = true;
                var res = await _accountService.ChangePasswordAsync(changePwdModel);
                isChangingPwd = false;
                if (res)
                {
                    _toastService.ShowSuccess("Heslo bylo úspěšně změněno", "Informace");
                    changePwdModel = new ChangePwdModel();
                }
            }
            else
            {
                _toastService.ShowWarning("Povinné položky nejsou správně vyplněny. Podívejte se prosím na validační chyby",
                    "Varování");
            }
        }
        catch (Exception ex)
        {
            isChangingPwd = false;
            Console.WriteLine(ex);
            var message = ex is CertiChainApiException cex ? cex.ErrorDetails?.AdditionalInfo : ex?.Message;
            _toastService.ShowError($"Při změně hesla nastala chyba - {message}");
        }
    }

    private async Task BtnDeactivateClicked()
    {
        deactivatePwd = string.Empty;
        await modal?.Show();
    }

    private async Task BtnDeactivateConfirmedClicked()
    {
        try
        {
            Console.WriteLine("Deactivating account...");
            if (!string.IsNullOrWhiteSpace(deactivatePwd))
            {
                isDeactivating = true;
                var res = await _accountService.DeactivateAccountAsync(deactivatePwd);
                isDeactivating = false;
                if (res)
                {
                    res = await _accountService.LogoutAsync();
                    if (res)
                    {
                        _toastService.ShowSuccess("Váš účet byl deaktivován", "Informace");
                        _navManager.NavigateTo("/");
                    }
                    // else exception will return
                }
                // else exception will return
            }
        }
        catch (Exception ex)
        {
            isDeactivating = false;
            Console.WriteLine(ex);
            var message = ex is CertiChainApiException cex ? cex.ErrorDetails?.AdditionalInfo : ex.Message;
            _toastService.ShowError($"Při deaktivaci účtu nastala chyba - {message}");
        }
    }

    private async Task BtnHideModal()
    {
        deactivatePwd = string.Empty;
        await modal?.Hide();
    }

    private async Task ResendActivationEmail()
    {
        try
        {
            isResendingEmail = true;
            var res = await _accountService.ResendActivationEmailAsync();
            isResendingEmail = false;
            if (res) _toastService.ShowSuccess("Aktivační email byl odeslán", "Informace");
            else _toastService.ShowWarning("Aktivační email nebyl odeslán", "Informace");
        }
        catch (Exception ex)
        {
            isResendingEmail = false;
            Console.WriteLine(ex);
            var message = ex is CertiChainApiException cex ? cex.ErrorDetails?.AdditionalInfo : ex.Message;
            _toastService.ShowError($"Při opětovném odesílání aktivačního emailu nastala chyba - {message}");
        }
    }
}
