﻿@page "/user/home"


<Container Fluid=true Height=Height.Is100 Width=Width.Is100>
    <AuthorizeView>
        <Authorized>
            <Div Flex=Flex.JustifyContent.Center Position=Position.Relative.Top.Is50.Translate.MiddleY>
                <Row Width=Width.Is75 Margin="Margin.Is3.FromTop.Is3.FromBottom">
                    <Column ColumnSize=ColumnSize.Is4>
                        <Div Flex=Flex.JustifyContent.Center Position=Position.Absolute.Start.Is50.Top.Is50.Translate.Middle>
                            <img src="images/Logo.svg" style="max-width:100%;" />
                        </Div>
                    </Column>
                    <Column ColumnSize=ColumnSize.Is8>
                        <Heading Size=HeadingSize.Is2>
                            Vytvoření podpisu
                        </Heading>
                        <Paragraph>
                            Vytvořte nový digitální podpis a uložte jej do systému Blockchain.
                        </Paragraph>
                        <Button ElementId="btnGoCreateSig" Color=Color.Primary Type=ButtonType.Link To="@FrontendUris.SignatureCreate">
                            Přejít na vytvoření podpisu
                        </Button>
                        <Divider />

                        <Heading Size=HeadingSize.Is2>
                            Ověření podpisu
                        </Heading>
                        <Paragraph>
                            Ověřte si, zda je podpis dat platný a zda existuje jeho záznam v systému Blockchain.
                        </Paragraph>
                        <Button ElementId="btnGoVerifySig" Color=Color.Primary Type=ButtonType.Link To="@FrontendUris.SignatureVerify">
                            Přejít na ověřování podpisů    
                        </Button>
                        <Divider />

                        <Heading Size=HeadingSize.Is2>
                            Správa podepisovacích profilů
                        </Heading>
                        <Paragraph>
                            Profily slouží k nastavení parametrů jednotlivých podpisů (PAdES, CAdES, XAdES). Při podepisování dat
                            si poté zvolíte jeden z vytvořených profilů a pomocí něj budou data podepsána.
                        </Paragraph>
                        <Button ElementId="btnGoManageProfiles" Color=Color.Primary  Type=ButtonType.Link To="@FrontendUris.ProfileManagement">
                            Přejít na správu profilů    
                        </Button>
                        <Divider />

                        <Heading Size=HeadingSize.Is2>
                            Přehled záznamů v Blockchain
                        </Heading>
                        <Paragraph>
                            Podívejte se na Vaše záznamy uložené v systému Blockchain.
                        </Paragraph>
                        <Button ElementId="btnGoBlockchainMan" Color=Color.Primary Type=ButtonType.Link To="@FrontendUris.BlockchainSummary">
                            Přejít na přehled záznamů v blockchain    
                        </Button>
                        <Divider />

                        <Heading Size=HeadingSize.Is2>
                            Správa účtu
                        </Heading>
                        <Paragraph>
                            Změnte si heslo, či deaktivujte účet v případě že aplikaci nechcete nadále používat
                        </Paragraph>
                        <Button ElementId="btnGoAccountSettings" Color=Color.Primary Type=ButtonType.Link To="@FrontendUris.UserSettings">
                            Přejít na správu účtu    
                        </Button>
                    </Column>
                </Row>
            </Div>
        </Authorized>
        <NotAuthorized>
            <UnauthorizedAccess />
        </NotAuthorized>
    </AuthorizeView>
</Container>



@code {

}
