﻿@page "/user/confirmEmail/success"

<Container Fluid=true Width=Width.Is100 Height=Height.Is100>
    <AuthorizeView>
        <Authorized>
            <Div Flex=Flex.JustifyContent.Center Position=Position.Relative.Top.Is50.Translate.MiddleY>
                
                <Row Width=Width.Is75>
                    <Column>
                        <Alert Color=Color.Success Visible>
                            <AlertMessage>
                                Váš email byl úspěšně ověřen
                            </AlertMessage>
                        </Alert>
                        <Button Color=Color.Primary Type=ButtonType.Link To="@FrontendUris.UserHome" Position=Position.Relative.Start.Is50.Translate.MiddleX
                                ElementId="btnGoUserHome">
                            Zpět na rozcestník    
                        </Button>
                    </Column>
                </Row>
            </Div>
        </Authorized>
        <NotAuthorized>
            <UnauthorizedAccess />
        </NotAuthorized>
    </AuthorizeView>
</Container>

@code {

}
