﻿@page "/signature/create"
@using CertiChain.Frontend.JsonObjects.Signature

@inject IToastService _toastService
@inject NavigationManager _navigationManager
@inject IProfileService _profileService
@inject ISignatureService _signatureService
@inject IJSRuntime _jsRuntime

<Container Fluid="true">
    <Div Flex="Flex.JustifyContent.Center">
        <Row Width="Width.Is75">
            <AuthorizeView>
                <Authorized>
                    <Steps SelectedStep="@selectedStep">
                        <Items>
                            <Step Name="@stepChooseProfile" Clicked="@(() => { })">Výběr profilu</Step>
                            <Step Name="@stepSelectForSign" Clicked="@(() => { })">Výběr dat</Step>
                            <Step Name="@stepResult" Clicked="@(() => { })">
                                <Marker>
                                    <Icon Name="IconName.Flag" />
                                </Marker>
                                <Caption>
                                    Uložení podepsaných dat
                                </Caption>
                            </Step>
                        </Items>
                        <Content>
                            <StepPanel Name="@stepChooseProfile">
                                @if (profiles?.Count > 0)
                                {
                                    <ListGroup Mode="ListGroupMode.Selectable" @bind-SelectedItem="SelectedProfileId">
                                        @foreach (var profile in profiles)
                                        {
                                            <ListGroupItem ElementId="@profile.Id.ToString()" Name="@profile.Id.ToString()">
                                                <Div>
                                                    <Heading Size="HeadingSize.Is4">@profile.Name</Heading>
                                                    <Heading Size="HeadingSize.Is5">(@profile.ProfileType)</Heading>
                                                </Div>
                                            </ListGroupItem>
                                        }
                                    </ListGroup>
                                    <Div Flex="Flex.JustifyContent.End">
                                        <Button ElementId="btnCreateProfile" Type="ButtonType.Link" To="@FrontendUris.ProfileCreateNew" Color=Color.Secondary 
                                                Margin="Margin.Is2.FromTop.Is2.FromEnd">
                                            Vytvořit profil
                                        </Button>
                                        <Button ElementId="btnContinue" Clicked="@BtnChooseProfileContClicked" Type="ButtonType.Button" 
                                                Color="Color.Primary" Disabled="btnChooseProfileIsDisabled" Margin="Margin.Is2.FromTop">
                                            Pokračovat
                                        </Button>
                                    </Div>
                                }
                                else
                                {
                                    <Alert Color=Color.Warning Visible>
                                        <Heading Size=HeadingSize.Is4>
                                            Na Vašem profilu zatím neexistují žádné profily.
                                        </Heading>
                                        <Paragraph>
                                            Zatím nemáte vytvořen žádný podepisovací profil. Podepisovací profily jsou potřeba k procesu podepisování, kdy
                                            podepisovací profil obsahuje všechno potřebné nastavení pro úspěšné podepsání podpisu. K vytvoření podpisu, můžete přejít
                                            pomocí tlačítka "Vytvořit profil"
                                        </Paragraph>
                                        <Paragraph>
                                            <Button ElementId="btnAlertCreateProfile" Type="ButtonType.Link" To="@FrontendUris.ProfileCreateNew" 
                                                    Color=Color.Secondary>
                                                Vytvořit profil
                                            </Button>
                                        </Paragraph>
                                    </Alert>
                                }
                            </StepPanel>
                            <StepPanel Name="@stepSelectForSign">
                                <Form>
                                    <Field>
                                        <FieldLabel>
                                            Soubor k podepsání
                                        </FieldLabel>
                                        <FileEdit ElementId="feFileToSign" Multiple="false" Placeholder="Vyberte soubor k podepsání..." Filter="@fileToSignFilter"
                                                  Changed="@FileToSignChanged">
                                            
                                        </FileEdit>
                                    </Field>
                                    <Field>
                                        <FieldLabel>
                                            Certifikát (.pfx, .p12)
                                        </FieldLabel>
                                        <FileEdit ElementId="feCert" Multiple="false" Placeholder="Vyberte podepisovací certifikát..." Filter=".p12,.pfx"
                                                  Changed="@PfxFileChanged"/>
                                    </Field>
                                    <Field>
                                        <FieldLabel>
                                            Heslo k certifikátu
                                        </FieldLabel>
                                        <TextEdit ElementId="teCertPwd" Role="TextRole.Password" @bind-Text="@PfxPassword"></TextEdit>
                                    </Field>
                                    <Switch TValue="bool" @bind-Checked="@addToBlockchain">Přidat záznam do systému blockchain</Switch>
                                </Form>
                                <Div Flex="Flex.JustifyContent.End">
                                    <Button ElementId="btnBack" Type="ButtonType.Button" Clicked="@(() => selectedStep = stepChooseProfile)" Color="Color.Secondary"
                                            Margin="Margin.Is2.FromTop.Is2.FromEnd">
                                        Zpět
                                    </Button>
                                    <Button ElementId="btnSign" Type="ButtonType.Button" Clicked="@BtnSignClicked" Disabled="@btnSignIsDisabled" Color="Color.Primary"
                                            Margin="Margin.Is2.FromTop" Loading="@isCreatingSignature">
                                        Podepsat
                                    </Button>
                                </Div>
                            </StepPanel>
                            <StepPanel Name="@stepResult">
                                @if (signature == null)
                                {
                                    <Alert Color="Color.Warning" Visible="true">
                                        <AlertMessage>Podpis ještě nebyl vytvořen. Vraťte se prosím na předchozí krok a nejprve vytvořte podpis.</AlertMessage>
                                    </Alert>
                                }
                                else
                                {
                                    <Alert Color="Color.Success" Visible="true">
                                        <AlertMessage>Podpis byl úspěšně vytvořen. Digitální podpis / podepsaná data si stáhněte do počítače pomocí tlačítka Uložit. </AlertMessage>
                                    </Alert>
                                    @if (addToBlockchain && signature.AddedToBlockchain)
                                    {
                                        <Alert Color="Color.Success" Visible="true" Margin="Margin.Is2.FromTop">
                                            <AlertMessage>
                                                Podpis byl úspešně uložen do blockchainového systému. Při ověřování podpisu můžete využít i ověření v systému blockchain. 
                                            </AlertMessage>
                                        </Alert>
                                    }
                                    @if (addToBlockchain && signature.AddedToBlockchain == false)
                                    {
                                        <Alert Color="Color.Warning" Visible="true">
                                            <AlertMessage>
                                                Při přidávání záznamu do systému blockchain nastala chyba - @signature.AddToBlockchainErrorMsg
                                            </AlertMessage>
                                        </Alert>
                                    }
                                    <Div Flex="Flex.JustifyContent.Center">
                                        <Button ElementId="btnSave" Type="ButtonType.Button" Clicked="@SaveSignature" Margin="Margin.Is2.FromEnd"
                                                Loading="@isDownloadingFile" Color="Color.Primary">
                                            Uložit
                                        </Button>
                                        <Button ElementId="btnCreateAnotherSign" Type="ButtonType.Button" Color="Color.Secondary" 
                                                Disabled="@btnNextSignatureIsDisabled" Clicked="@BtnNextSignatureClicked">
                                            Vytvořit dalši podpis
                                        </Button>
                                    </Div>
                                }
                            </StepPanel>
                        </Content>
                    </Steps>
                </Authorized>
                <NotAuthorized>
                    <UnauthorizedAccess />
                </NotAuthorized>
            </AuthorizeView>
        </Row>
    </Div>
</Container>

@code {
    private string stepChooseProfile = "chooseProfile";
    private string stepSelectForSign = "selectItemsForSign";
    private string stepResult = "signResult";

    private string selectedStep;

    private string _selectedProfileId;
    private string SelectedProfileId
    {
        get => _selectedProfileId;
        set
        {
            _selectedProfileId = value;
            btnChooseProfileIsDisabled = string.IsNullOrWhiteSpace(value);
            if (long.TryParse(value, out _))
            {
                var idNum = long.Parse(value);
                var profile = profiles.FirstOrDefault(x => x.Id == idNum);
                if (profile != null)
                {
                    if (profile.ProfileType == ProfileTypes.PAdES) fileToSignFilter = "application/pdf";
                    else if (profile.ProfileType == ProfileTypes.XAdES) fileToSignFilter = "application/xml";
                    else fileToSignFilter = "";
                }
            }
        }
    }

    private IFileEntry _dataToSignEntry;
    private IFileEntry DataToSignEntry
    {
        get => _dataToSignEntry;
        set { _dataToSignEntry = value; TryEnableSignButton(); }
    }

    private IFileEntry _pfxFile;
    private IFileEntry PfxFile
    {
        get => _pfxFile;
        set { _pfxFile = value; TryEnableSignButton(); }
    }

    private string _pfxPassword;
    private string PfxPassword
    {
        get => _pfxPassword;
        set { _pfxPassword = value; TryEnableSignButton(); }
    }

    private bool addToBlockchain = true;
    private bool btnChooseProfileIsDisabled = true;
    private bool btnSignIsDisabled = true;
    private bool isCreatingSignature;
    private bool isDownloadingFile;
    private bool btnNextSignatureIsDisabled = true;

    private string fileToSignFilter;

    private List<SignatureProfileModel> profiles = new();
    private ProfileGeneralReqResp selectedProfileFull = new();
    private CreateSignatureResp signature;
    private string fileToSignName = null;

    protected override async Task OnInitializedAsync()
    {
        try
        {
            var generalProfiles = await _profileService.GetProfilesAsync();
            if (generalProfiles != null && generalProfiles.Count > 0)
            {
                foreach (var item in generalProfiles)
                {
                    var signatureProfile = new SignatureProfileModel
                    {
                        Id = item.Id,
                        Name = item.Name,
                        IsChecked = false,
                        ProfileType = item.ProfileType
                    };
                    profiles.Add(signatureProfile);
                }
            }
            selectedStep = stepChooseProfile;
        }
        catch (Exception ex)
        {
            Console.WriteLine(ex);
        }
    }

    private async Task BtnChooseProfileContClicked()
    {
        selectedStep = stepSelectForSign;
    }

    private void TryEnableSignButton()
    {
        if (DataToSignEntry != null && !string.IsNullOrWhiteSpace(DataToSignEntry.Name) &&
            PfxFile != null && !string.IsNullOrWhiteSpace(PfxFile.Name) && !string.IsNullOrWhiteSpace(PfxPassword))
            btnSignIsDisabled = false;
        else btnSignIsDisabled = true;
    }

    private async Task BtnSignClicked()
    {
        try
        {
            isCreatingSignature = true;
            var req = new CreateSignatureReq
            {
                ProfileId = long.Parse(SelectedProfileId),
                CertPwd = PfxPassword,
                FileName = DataToSignEntry.Name,
                FileMimeType = DataToSignEntry.Type,
                AddToBlockChain = addToBlockchain
            };

            var fileInfo = new FileInfo(DataToSignEntry.Name);
            req.FileExtension = fileInfo.Extension;
            fileToSignName = fileInfo.Name.Replace(fileInfo.Extension, "");
            
            await using (var dataToSignMs = new BufferedStream(DataToSignEntry.OpenReadStream(long.MaxValue)))
            {
                req.DataToSign = new byte[dataToSignMs.Length];
                await dataToSignMs.ReadAsync(req.DataToSign, 0, (int)dataToSignMs.Length);
            }

            await using (var pfxFileMs = new BufferedStream(PfxFile.OpenReadStream(long.MaxValue)))
            {
                req.SignCertificate = new byte[pfxFileMs.Length];
                await pfxFileMs.ReadAsync(req.SignCertificate, 0, (int)pfxFileMs.Length);
            }
            signature = await _signatureService.CreateSignatureAsync(req);
            isCreatingSignature = false;
            selectedStep = stepResult;
        }
        catch (Exception ex)
        {
            isCreatingSignature = false;
            Console.WriteLine($"Create signature failed!!!");
            Console.WriteLine(ex.ToString());
            var msg = ex is CertiChainApiException cex && !string.IsNullOrWhiteSpace(cex.ErrorDetails.AdditionalInfo) ?
                cex.ErrorDetails.AdditionalInfo : ex.Message;
            _toastService.ShowError($"Při vytváření podpisu nastala chyba - {msg}", "Chyba");
        }
    }

    private async Task SaveSignature()
    {
        try
        {
            isDownloadingFile = true;
            await using (var signatureStream = new MemoryStream(signature.Signature))
            {
                var fileName = $"{fileToSignName}{signature.SignatureFileExtension}";
                using var streamRef = new DotNetStreamReference(signatureStream);

                await _jsRuntime.InvokeVoidAsync("downloadFileFromStream", fileName, streamRef);
            }
            isDownloadingFile = false;
            _toastService.ShowSuccess("Soubor byl úspěšně uložen", "Informace");
            btnNextSignatureIsDisabled = false;
        }
        catch (Exception ex)
        {
            Console.WriteLine(ex);
            _toastService.ShowError($"Při ukládání digitálního podpisu / podepsaných dat nastala chyba - {ex.Message}", "Chyba");
        }
    }

    private void BtnNextSignatureClicked()
    {
        try
        {
            selectedStep = stepChooseProfile;
            PfxFile = null;
            PfxPassword = "";
            DataToSignEntry = null;
            SelectedProfileId = null;
            signature = null;
            fileToSignName = "";
            btnNextSignatureIsDisabled = true;
            btnSignIsDisabled = true;
            btnChooseProfileIsDisabled = true;
        }
        catch (Exception ex)
        {
            Console.WriteLine(ex);
            _toastService.ShowError($"Pří přechodu na vytvoření dalšího podpisu nastala chyba - {ex.Message}", "Chyba");
        }
    }

    private void FileToSignChanged(FileChangedEventArgs e)
    {
        if (e.Files?.Length > 0)
        {
            DataToSignEntry = e.Files[0];
        }
    }

    private void PfxFileChanged(FileChangedEventArgs e)
    {
        if (e.Files?.Length > 0)
        {
            PfxFile = e.Files[0];
        }
    }
    
}