﻿@page "/signature/verify"
@using CertiChain.Frontend.JsonObjects.Signature
@using Blazorise.Extensions

@inject IToastService _toastService
@inject ISignatureService _signatureService

<Container Fluid="true" Flex="Flex.JustifyContent.Center">
    <Row Width="Width.Is75">
        <AuthorizeView>
            <Authorized>
                <Column Margin="Margin.Is2.FromTop">
                    <Steps SelectedStep="@selectedStep">
                        <Items>
                            <Step Name="@selectToVerifyStep" Clicked="@(() => { })" >Výběr dat k ověření</Step>
                            <Step Name="@isVerifyingStep" Clicked="@(() => { })">Ověřování</Step>
                            <Step Name="@verifyResStep" Clicked="@(() => { })">Výsledek ověření</Step>
                        </Items>
                        <Content>
                            <StepPanel Name="@selectToVerifyStep">
                                <Form>
                                    <Field>
                                        <FieldLabel>
                                            Podepsaný soubor (data ke kterým byl vytvořen externí podpis)
                                        </FieldLabel>
                                        <FileEdit ElementId="feSignedData" Placeholder="Vyberte podepsaný soubor nebo soubor, ke kterému byl vytvořen externí podpis..." Filter="*/*"
                                                  Changed="@SignedFileChanged" Multiple="false">
                
                                        </FileEdit>
                                    </Field>
                                    <Field>
                                        <FieldLabel>
                                            Externí podpis (nepovinné)
                                        </FieldLabel>
                                        <FileEdit ElementId="feExtSignature" Placeholder="Vyberte externí podpis..." Filter=".p7s,.xml" Multiple="false"
                                                  Changed="@ExternalSignatureFileChanged">
                
                                        </FileEdit>
                                    </Field>
                                    <Field>
                                        <Check ElementId="cbCheckInBlockchain" TValue="bool" @bind-Checked="@verifyModel.VerifyInBlockchain">
                                            Ověřit dostupnost záznamu v blockchain
                                        </Check>
                                    </Field>
                                    @if (verifyModel.VerifyInBlockchain)
                                    {
                                        <Field>
                                            <FieldLabel>
                                                Certifikát, kterým byl podpis vytvořen
                                            </FieldLabel>
                                            <FileEdit Placeholder="Vyberte certiifkát pomocí kterého byl podpis vytvořen..." Multiple="false" 
                                                      Filter=".pfx,.p12,.cer"
                                                      Changed="@SignerCertificateFileChanged" ElementId="feSignCert">
                
                                            </FileEdit>
                                        </Field>
                                        <Field>
                                            <FieldLabel>
                                                Heslo k certifikátu (povinné pokud je vybrán certifikát ve formátu pfx nebo p12)
                                            </FieldLabel>
                                            <TextEdit Role="TextRole.Password" @bind-Text="@verifyModel.SignerCertPwd" ElementId="teSignCertPwd" />
                                        </Field>
                                    }
                                    <Button ElementId="btnVerifySig" Type="ButtonType.Submit" Color="Color.Primary" PreventDefaultOnSubmit="true" 
                                            Clicked="@BtnVerifyClicked">
                                        Ověřit podpis
                                    </Button>
                                </Form>
                            </StepPanel>
                            <StepPanel Name="@isVerifyingStep">
                                <Div Flex="Flex.JustifyContent.Center">
                                    <Circle Color="@CustomColors.PrimaryOrange" Size="64px"/>
                                    <Heading Size="HeadingSize.Is4" VerticalAlignment="VerticalAlignment.Middle" Margin="Margin.Is5.FromStart.Is3.FromTop">
                                        Čekejte prosím, probíhá ověřování digitálního podpisu u vybraných dat...
                                    </Heading>
                                </Div>
                            </StepPanel>
                            <StepPanel Name="@verifyResStep">
                                <Alert ElementId="alertVerifyOk" Color="@finalVerifyBackground" Visible="@finalVerifyIsVisible">
                                    <AlertMessage>
                                        @finalVerifyMessage
                                    </AlertMessage>
                                </Alert>
                                <Accordion>
                                    @foreach (var result in verifyResult.Signatures)
                                    {
                                        <Collapse Visible="true" Margin="Margin.Is2.FromBottom">
                                            <CollapseHeader Background="@GetBackgroundByIndication(result.Indication)">
                                                <Heading Size="HeadingSize.Is4">
                                                    @result.SignatureFormat
                                                </Heading>
                                            </CollapseHeader>
                                            <CollapseBody>
                                                <Row Width="Width.Is100">
                                                    <Column>
                                                        @if (!string.IsNullOrWhiteSpace(result.SignedBy))
                                                        {
                                                            <Field>
                                                                <FieldLabel>
                                                                    Autor podpisu
                                                                </FieldLabel>
                                                                <Heading Size="HeadingSize.Is6">
                                                                    @result.SignedBy
                                                                </Heading>
                                                            </Field>
                                                        }
                                                        @if (result.ValidationTime != null)
                                                        {
                                                            <Field>
                                                                <FieldLabel>
                                                                    Čas ověření podpisu
                                                                </FieldLabel>
                                                                <Heading Size="HeadingSize.Is6">
                                                                    @result.ValidationTime.Value.ToString("dd.MM.yyyy HH:mm:ss")
                                                                </Heading>
                                                            </Field>
                                                        }
                                                        @if (result.SignatureTime != null)
                                                        {
                                                            <Field>
                                                                <FieldLabel>
                                                                    Čas vytvoření podpisu
                                                                </FieldLabel>
                                                                <Heading Size="HeadingSize.Is6">
                                                                    @result.SignatureTime.Value.ToString("dd.MM.yyyy HH:mm:ss")
                                                                </Heading>
                                                            </Field>
                                                        }
                                                        @if (result.SignatureValidityMax != null)
                                                        {
                                                            <Field>
                                                                <FieldLabel>
                                                                    Čas do kdy lze nejvýše zvýšit platnost podpisu
                                                                </FieldLabel>
                                                                <Heading Size="HeadingSize.Is6">
                                                                    @result.SignatureValidityMax.Value.ToString("dd.MM.yyyy HH:mm:ss")
                                                                </Heading>
                                                            </Field>
                                                        }
                                                        @if (!string.IsNullOrWhiteSpace(result.SignatureFormat))
                                                        {
                                                            <Field>
                                                                <FieldLabel>
                                                                    Formát podpisu
                                                                </FieldLabel>
                                                                <Heading Size="HeadingSize.Is6">
                                                                    @result.SignatureFormat
                                                                </Heading>
                                                            </Field>
                                                        }
                                                        @if (result.Indication != null)
                                                        {
                                                            <Field>
                                                                <FieldLabel>
                                                                    Výsledek ověření
                                                                </FieldLabel>
                                                                <Heading Size="HeadingSize.Is6">
                                                                    @(EnumUtils.GetDisplayName(result.Indication.Value))
                                                                </Heading>
                                                            </Field>
                                                        }

                                                        @if (result.SubIndication != null)
                                                        {
                                                            <Field>
                                                                <FieldLabel>
                                                                    Podrobnosti o výsledku ověření
                                                                </FieldLabel>
                                                                <Heading Size="HeadingSize.Is6">
                                                                    @(EnumUtils.GetDisplayName(result.SubIndication.Value))
                                                                </Heading>
                                                            </Field>
                                                        }
                                                    </Column>
                                                    <Column>
                                                        @if (result.Errors != null && result.Errors?.Count > 0)
                                                        {
                                                            <Field>
                                                                <FieldLabel>
                                                                    Nalezené problémy při ověřování
                                                                </FieldLabel>
                                                                @foreach (var error in result.Errors)
                                                                {
                                                                    <Heading Size="HeadingSize.Is6">
                                                                        @error
                                                                    </Heading>
                                                                }
                                                            </Field>
                                                        }
                                                        @if (result.Warnings != null && result.Warnings?.Count > 0)
                                                        {
                                                            <Field>
                                                                <FieldLabel>
                                                                    Varování nalezené při ověřování
                                                                </FieldLabel>
                                                                @foreach (var warning in result.Warnings)
                                                                {
                                                                    <Heading Size="HeadingSize.Is6">
                                                                        @warning
                                                                    </Heading>
                                                                }
                                                            </Field>
                                                        }
                                                        @if (!string.IsNullOrWhiteSpace(result.SignatureQualificationName))
                                                        {
                                                            <Field>
                                                                <FieldLabel>
                                                                    Typ kvalifikace podpisu (název)
                                                                </FieldLabel>
                                                                <Heading Size="HeadingSize.Is6">
                                                                    @result.SignatureQualificationName
                                                                </Heading>
                                                            </Field>
                                                        }
                                                        @if (!string.IsNullOrWhiteSpace(result.SignatureQualificationLabel))
                                                        {
                                                            <Field>
                                                                <FieldLabel>
                                                                    Typ kvalifikace podpisu (popis)
                                                                </FieldLabel>
                                                                <Heading Size="HeadingSize.Is6">
                                                                    @result.SignatureQualificationLabel
                                                                </Heading>
                                                            </Field>
                                                        }
                                                    </Column>
                                                </Row>
                                            </CollapseBody>
                                        </Collapse>
                                    }
                                    @if (verifyResult.VerifiedInBlockchain && verifyResult.BlockchainVerifyResult != null)
                                    {
                                        <Collapse Visible="true">
                                            <CollapseHeader Background="@(GetBackgroundByBlockchainVerifyRes(verifyResult.BlockchainVerifyResult.VerifyRes))">
                                                <Heading Size="HeadingSize.Is4">
                                                    Výsledek ověření v systému Blockchain
                                                </Heading>
                                            </CollapseHeader>
                                            <CollapseBody>
                                                <Row>
                                                    <Column>
                                                        <Field>
                                                            <FieldLabel>
                                                                Id záznamu
                                                            </FieldLabel>
                                                            <Heading Size="HeadingSize.Is6">
                                                                @verifyResult.BlockchainVerifyResult.ProofId
                                                            </Heading>
                                                        </Field>
                                                        <Field>
                                                            <FieldLabel>
                                                                Výsledek ověření
                                                            </FieldLabel>
                                                            <Heading Size="HeadingSize.Is6">
                                                                @EnumUtils.GetDisplayName(verifyResult.BlockchainVerifyResult.VerifyRes)
                                                            </Heading>
                                                        </Field>
                                                        <Field>
                                                            <FieldLabel>
                                                                Čas přidání záznamu
                                                            </FieldLabel>
                                                            <Heading Size="HeadingSize.Is6">
                                                                @verifyResult.BlockchainVerifyResult.SubmitTime
                                                            </Heading>
                                                        </Field>
                                                        <Field>
                                                            <FieldLabel>
                                                                Hash otisk záznamu
                                                            </FieldLabel>
                                                            <Heading Size="HeadingSize.Is6">
                                                                @verifyResult.BlockchainVerifyResult.ProofHash
                                                            </Heading>
                                                        </Field>
                                                    </Column>
                                                </Row>
                                            </CollapseBody>
                                        </Collapse>
                                    }
                                    @if (verifyResult.VerifiedInBlockchain && verifyResult.BlockchainVerifyResult == null)
                                    {
                                        <Alert Color="Color.Warning" Visible="true">
                                            <AlertMessage>
                                                Nebyl nalezen žádný záznam v systému blockchain pro ověřované data!
                                            </AlertMessage>
                                        </Alert>
                                    }
                                </Accordion>
                                 <Div Flex="Flex.JustifyContent.Center" Margin="Margin.Is3.FromTop">
                                     <Button ElementId="btnBackHome" Type="ButtonType.Link" Color="Color.Primary" 
                                             To="@(FrontendUris.UserHome)" Margin="Margin.Is3.FromEnd">
                                         Zpět na rozcestník
                                     </Button>
                                     <Button ElementId="btnVerifyAnother" Type="ButtonType.Button" Color="Color.Primary" 
                                             Clicked="@BtnVerifyNextClicked">
                                         Ověřit další data
                                     </Button>
                                </Div>
                            </StepPanel>
                        </Content>
                    </Steps>
                </Column>
            </Authorized>
            <NotAuthorized>
                <Column>
                     <UnauthorizedAccess/>
                </Column>
            </NotAuthorized>
        </AuthorizeView>
    </Row>
</Container>

@code {

    private VerifySignatureModel verifyModel = new();
    private VerifySignatureResp verifyResult;

    private string selectToVerifyStep = "selectToVerify";
    private string isVerifyingStep = "verifying";
    private string verifyResStep = "verifyRes";

    private string finalVerifyMessage;
    private Color finalVerifyBackground;
    private bool finalVerifyIsVisible;

    private string selectedStep;

    protected override Task OnInitializedAsync()
    {
        selectedStep = selectToVerifyStep;
        return base.OnInitializedAsync();
    }


    private async Task SignedFileChanged(FileChangedEventArgs e)
    {
        if (e?.Files?.Length > 0)
            verifyModel.SignedData = e.Files.First();
    }

    private async Task ExternalSignatureFileChanged(FileChangedEventArgs e)
    {
        if (e?.Files?.Length > 0)
            verifyModel.ExternaSignature = e.Files.First();
    }

    private async Task SignerCertificateFileChanged(FileChangedEventArgs e)
    {
        if (e?.Files?.Length > 0)
            verifyModel.SignerCertificate = e.Files.First();
    }

    private async Task BtnVerifyClicked()
    {
        try
        {
            if (verifyModel.SignedData == null)
            {
                _toastService.ShowWarning("Není vybrán žádný soubor k ověření. Nelze započít proces oveření podpisu.", "Varování");
                return;
            }

            if (verifyModel.VerifyInBlockchain && verifyModel.SignerCertificate == null)
            {
                _toastService.ShowWarning("Není vybrán žádný certifikát podepisujícího. Nelze započít proces ověření podpisu.", "Varování");
                return;
            }

            if (verifyModel.SignerCertificate != null && verifyModel.SignerCertificate.Type == "application/x-pkcs12" &&
                string.IsNullOrWhiteSpace(verifyModel.SignerCertPwd))
            {
                _toastService.ShowWarning("Není vyplněno heslo pro podepisovací certifikát.", "Varování");
                return;
            }

            finalVerifyIsVisible = false;

            selectedStep = isVerifyingStep;
            
            verifyResult = await _signatureService.VerifySignatureAsync(verifyModel);

            // žádný podpis nenalezen
            if (verifyResult.Signatures == null || verifyResult.Signatures?.Count <= 0)
            {
                finalVerifyBackground = Color.Info;
                finalVerifyMessage = "V ověřovaném dokumentu nebyl nalezen žádný digitální podpis.";
            }
            // všechny podpisy jsou platné
            else if (verifyResult.Signatures.All(x => x.Indication == VerifyIndications.TOTAL_PASSED || x.Indication == VerifyIndications.PASSED))
            {
                finalVerifyBackground = Color.Success;
                finalVerifyMessage = "Všechny digitální podpisy jsou platné a byly úspěšně ověřeny.";
                if (verifyResult.VerifiedInBlockchain && verifyResult.BlockchainVerifyResult == null)
                    finalVerifyMessage += "\n Záznam podepsaných dat nebyl nalezen v systému blockchain.";
                else if (verifyResult.VerifiedInBlockchain && verifyResult.BlockchainVerifyResult != null)
                {
                    var verifyRes = verifyResult.BlockchainVerifyResult.VerifyRes;
                    if (verifyRes == BlockchainVerifyStatus.Pending || verifyRes == BlockchainVerifyStatus.Submitted || verifyRes == BlockchainVerifyStatus.Confirmed)
                        finalVerifyMessage += "\nZáznam podepsaných dat je evidován v systému blockchain, ale ještě není kompletně uložen (proces uložení " +
                                              "může trvat delší dobu). Pro ověření záznamu v systému blockchain, opakujte ověření později.";
                    else if (verifyRes == BlockchainVerifyStatus.Failed || verifyRes == BlockchainVerifyStatus.Invalid
                             || verifyRes == BlockchainVerifyStatus.Purged)
                        finalVerifyMessage += "\nZáznam o digitálním podpisu je evidován v systému blockchain, ale výsledek ověření je nevaliní. Platnost " +
                                              "digitálního podpisu nemůže být prodloužena pomocí záznamu v systému blockchain";
                    else
                        finalVerifyMessage += "\nZáznam o digitálním podpisu je evidován v systému blockchain a záznam je validní. Platnost digitálního podpisu je " +
                                              "díky tomu prodloužena na dobu neurčitou.";
                }
            }
            // žádný podpis není platný
            else if (verifyResult.Signatures.All(x => x.Indication == VerifyIndications.FAILED ||
                                                      x.Indication == VerifyIndications.TOTAL_FAILED))
            {
                // pokud podpisu vypršela platnost, ale jinak je vše ok, tak platnost prodlouží přítomnost záznamu v blockchain.
                // pokud v blockchain není, tak podpis nelze považovat za platný
                if (verifyResult.Signatures.All(x => x.SubIndication == VerifySubIndications.EXPIRED) && verifyResult.VerifiedInBlockchain && 
                    verifyResult.BlockchainVerifyResult?.VerifyRes == BlockchainVerifyStatus.Valid)
                {
                    finalVerifyBackground = Color.Success;
                    finalVerifyMessage = "Platnost digitálních podpisů vypršela. Díky přítomnosti záznamu o podepsání dat v systému blockchain jej lze " +
                                         "nadále považovat za platný.";
                }
                else
                {
                    finalVerifyBackground = Color.Danger;
                    finalVerifyMessage = "Ani jeden z podpisů se nepodařilo ověřit. Pro více informací o chybách při ověření se podívejte na detaily " +
                                         "jednotlivých podpisů.";
                }
            }
            // alespoň jeden podpis je neplatný nebo neurčitý
            else if (verifyResult.Signatures.Any(x => x.Indication == VerifyIndications.INDETERMINATE || x.Indication == VerifyIndications.FAILED ||
                                                      x.Indication == VerifyIndications.TOTAL_FAILED))
            {
                finalVerifyBackground = Color.Warning;
                finalVerifyMessage = "Alespoň jeden digitální podpis není validní nebo výsledek ověření je Nurčitý. Pro více podrobností se podívejte na výpis údajů " +
                                     "jednotlivých podpisů.";
                if (verifyResult.VerifiedInBlockchain && verifyResult.BlockchainVerifyResult?.VerifyRes == BlockchainVerifyStatus.Valid)
                    finalVerifyMessage += "\nByl nalezen záznam v systému blockchain o ověřovaných datech. Záznam v systému blockchain je validní.";
                else if (verifyResult.VerifiedInBlockchain && verifyResult.BlockchainVerifyResult == null)
                    finalVerifyMessage += "\nOvěřovaná data nebyla nalezena v systému blockchain.";
                else if (verifyResult.VerifiedInBlockchain && (verifyResult.BlockchainVerifyResult.VerifyRes == BlockchainVerifyStatus.Confirmed ||
                         verifyResult.BlockchainVerifyResult.VerifyRes == BlockchainVerifyStatus.Pending ||
                         verifyResult.BlockchainVerifyResult.VerifyRes == BlockchainVerifyStatus.Submitted))
                    finalVerifyMessage += "\nByl nalezen záznam v systému blockchain, ale ještě jej nění možné ověřit. " +
                                          "Pro ověření záznamu v systému blockchain, opakujte ověření později.";
                else if (verifyResult.VerifiedInBlockchain && (verifyResult.BlockchainVerifyResult.VerifyRes == BlockchainVerifyStatus.Failed ||
                                                               verifyResult.BlockchainVerifyResult.VerifyRes == BlockchainVerifyStatus.Invalid ||
                                                               verifyResult.BlockchainVerifyResult.VerifyRes == BlockchainVerifyStatus.Purged))
                    finalVerifyMessage += "\nZáznam byl nalezen v systému blockchain ale výsledek ověření záznamu je nevalidní.";
            }

            
            if (!string.IsNullOrWhiteSpace(finalVerifyMessage)) finalVerifyIsVisible = true;
            

            selectedStep = verifyResStep;
        }
        catch (Exception ex)
        {
            selectedStep = selectToVerifyStep;
            
            Console.WriteLine("Verify signature failed!!!");
            Console.WriteLine(ex);
            var msg = ex is CertiChainApiException cex && !string.IsNullOrWhiteSpace(cex.ErrorDetails.AdditionalInfo) ?
                cex.ErrorDetails.AdditionalInfo : ex.Message;
            _toastService.ShowError($"Při vytváření podpisu nastala chyba - {msg}", "Chyba");
        }
    }

    private Background GetBackgroundByIndication(VerifyIndications? indication)
    {
        if (indication == null) return Background.Info;
        
        switch (indication)
        {
            case VerifyIndications.TOTAL_PASSED:
            case VerifyIndications.PASSED:
                return Background.Success;
            case VerifyIndications.INDETERMINATE:
                return Background.Warning;
            default:
                return Background.Danger;
        }
    }

    private Background GetBackgroundByBlockchainVerifyRes(BlockchainVerifyStatus? status)
    {
        if (status == null) return Background.Info;

        switch (status)
        {
            case BlockchainVerifyStatus.Valid:
                return Background.Success;
            case BlockchainVerifyStatus.Pending:
            case BlockchainVerifyStatus.Submitted:
                return Background.Info;
            default:
                return Background.Danger;
        }
    }

    private void BtnVerifyNextClicked()
    {
        selectedStep = selectToVerifyStep;
        verifyModel = new();
        verifyResult = new();
        finalVerifyIsVisible = false;
        finalVerifyMessage = "";
        finalVerifyBackground = Color.Info;
    }
}