﻿@using Newtonsoft.Json.Serialization
<Blazorise.ThemeProvider Theme="@theme">
    <CascadingAuthenticationState>
        <Router AppAssembly="@typeof(App).Assembly">
            <Found Context="routeData">
                <RouteView RouteData="@routeData" DefaultLayout="@typeof(MainLayout)" />
                <FocusOnNavigate RouteData="@routeData" Selector="h1" />
            </Found>
            <NotFound>
                <PageTitle>Not found</PageTitle>
                <LayoutView Layout="@typeof(MainLayout)">
                    <p role="alert">Sorry, there's nothing at this address.</p>
                </LayoutView>
            </NotFound>
        </Router>
    </CascadingAuthenticationState>
</Blazorise.ThemeProvider>

@code {
    private Theme theme = new Theme
    {
        IsRounded = true,
        ColorOptions = new ThemeColorOptions
        {
            Primary = CustomColors.PrimaryOrange,
            Secondary = CustomColors.Secondary,
            Danger = CustomColors.Danger,
            Dark = CustomColors.Dark,
            Success = CustomColors.Success,
            Info = CustomColors.Info,
            Light = CustomColors.Light,
            Warning = CustomColors.Warning
        },
        BackgroundOptions = new ThemeBackgroundOptions
        {
            Body = CustomColors.White,
            Primary = CustomColors.PrimaryOrange,
            Secondary = CustomColors.Secondary,
            Danger = CustomColors.Danger,
            Dark = CustomColors.Dark,
            Success = CustomColors.Success,
            Info = CustomColors.Info,
            Light = CustomColors.Light,
            Warning = CustomColors.Warning
        },
        BodyOptions = new ThemeBodyOptions
        {
            BackgroundColor = CustomColors.Light,
            TextColor = CustomColors.Black,
        },
        InputOptions = new ThemeInputOptions
        {
            CheckColor = CustomColors.PrimaryOrange,
            Color = CustomColors.Black,
            Size = Size.Medium,
            SliderColor = CustomColors.Black,
        },
        ButtonOptions = new ThemeButtonOptions
        {
            ActiveDarkenColor = 15,
            ActiveLightenColor = 15,
            BoxShadowTransparency = 64,
            DisabledOpacity = (float?)0.3,
            HoverDarkenColor = (float?)7.5,
            HoverLightenColor = (float?)7.5
        },
        Black = "#000000",
        White = "#FFFFFF",
        AlertOptions = new ThemeAlertOptions
        {
            BackgroundLevel = - 7,
            BorderLevel = 7,
            ColorLevel = 7,
        },
        BarOptions = new ThemeBarOptions
        {
            DarkColors = new ThemeBarColorOptions
            {
                Color = CustomColors.White,
                BackgroundColor = CustomColors.Dark,
                BrandColorOptions = new ThemeBarBrandColorOptions
                {
                    BackgroundColor = CustomColors.White
                },
                DropdownColorOptions = new ThemeBarDropdownColorOptions
                {
                    BackgroundColor = CustomColors.Dark
                },
                ItemColorOptions = new ThemeBarItemColorOptions
                {
                    ActiveColor = CustomColors.White,
                    HoverColor = CustomColors.White,
                    ActiveBackgroundColor = CustomColors.PrimaryOrange,
                    HoverBackgroundColor = CustomColors.PrimaryOrange
                },
            },
            LightColors = new ThemeBarColorOptions
            {
                Color = CustomColors.Black,
                BackgroundColor = CustomColors.PrimaryOrange,
                BrandColorOptions = new ThemeBarBrandColorOptions
                {
                    BackgroundColor = CustomColors.Black
                },
                DropdownColorOptions = new ThemeBarDropdownColorOptions
                {
                    BackgroundColor = CustomColors.White
                },
                ItemColorOptions = new ThemeBarItemColorOptions
                {
                    ActiveColor = CustomColors.Black,
                    HoverColor = CustomColors.Black,
                    ActiveBackgroundColor = CustomColors.Light,
                    HoverBackgroundColor = CustomColors.PrimaryOrange
                },
            },
        },
        Enabled = true,
        TextColorOptions = new ThemeTextColorOptions
        {
            Primary = CustomColors.Black,
        }
    };
}