﻿@page "/profiles/edit/{profileId}"

@inject IProfileService _profileService
@inject IToastService _toastService
@inject NavigationManager _navManager

<Container Fluid="true" Flex="Flex.JustifyContent.Center">
    <Row Width="Width.Is75">
        <Column>
            <AuthorizeView>
            <Authorized>
            <Steps SelectedStep="@selectedStep" SelectedStepChanged="@OnSelectedStepChanged">
                <Items>
                    <Step Name="@step1Name" Clicked="@(() => { })">Základní nastavení</Step>
                    <Step Name="@step2Name" Clicked="@(() => { })">Nastavení profilu</Step>
                </Items>
                <Content>
                    <StepPanel Name="@step1Name">
                        <Form>
                            <Validations @ref="generalValidations" ValidateOnLoad="false" Mode=ValidationMode.Auto Model="@generalModel">
                                <Validation>
                                    <Field>
                                        <FieldLabel>
                                            Název profilu
                                        </FieldLabel>
                                        <TextEdit ElementId="teProfileName" Role="TextRole.Text" @bind-Text="@generalModel.Name">
                                            <Feedback>
                                                <ValidationError/>
                                            </Feedback>
                                        </TextEdit>
                                    </Field>
                                </Validation>
                                <Row>
                                    <Column>
                                        <Validation>
                                            <Field>
                                                <FieldLabel>
                                                    Typ podpisu
                                                </FieldLabel>
                                                <Select ElementId="selectProfileTyoe" TValue="ProfileTypes" Multiple="false" @bind-SelectedValue="@generalModel.ProfileType">
                                                    @foreach (var item in Enum.GetValues<ProfileTypes>())
                                                    {
                                                        <SelectItem Value="@item">@item</SelectItem>
                                                    }
                                                </Select>
                                                <FieldHelp>
                                                    <ValidationError/>
                                                </FieldHelp>
                                            </Field>
                                        </Validation>
                                    </Column>
                                    <Column>
                                        <Validation>
                                            <Field>
                                                <FieldLabel>
                                                    Hash algoritmus
                                                </FieldLabel>
                                                <Select ElementId="selectHashAlg" TValue="HashAlgorithms" Multiple="false" @bind-SelectedValue="@generalModel.HashAlgorithm">
                                                    @foreach (var item in Enum.GetValues<HashAlgorithms>())
                                                    {
                                                        <SelectItem Value="@item">@item</SelectItem>
                                                    }
                                                </Select>
                                                <FieldHelp>
                                                    <ValidationError/>
                                                </FieldHelp>
                                            </Field>
                                        </Validation>
                                    </Column>
                                </Row>
                            </Validations>
                            <Check ElementId="cbAddSignerIfo" TValue="bool" @bind-Checked="@addSignerInfo" Margin="Margin.Is2.FromBottom">
                                Přidat rozšiřující informace o podepisujím
                            </Check>
                        </Form>
                        @if (addSignerInfo)
                        {
                            <Validations Model="@signerInfoModel" Mode="ValidationMode.Auto" ValidateOnLoad="false">
                                <Form>
                                    <Row>
                                        <Column>
                                            <Validation>
                                                <Field>
                                                    <FieldLabel>
                                                        Země
                                                    </FieldLabel>
                                                    <Select ElementId="selectCountry" TValue="Country" @bind-SelectedValue="@signerInfoModel.Country">
                                                        @foreach (var item in Enum.GetValues<Country>())
                                                        {
                                                            <SelectItem Value="@item">@EnumUtils.GetDisplayName(item)</SelectItem>
                                                        }
                                                    </Select>
                                                </Field>
                                            </Validation>
                                            <Validation>
                                                <Field>
                                                    <FieldLabel>
                                                        Kraj
                                                    </FieldLabel>
                                                    <TextEdit ElementId="teProvince" Role="TextRole.Text" @bind-Text="@signerInfoModel.Province">
                                                        <Feedback>
                                                            <ValidationError/>
                                                        </Feedback>
                                                    </TextEdit>
                                                </Field>
                                            </Validation>
                                            <Validation>
                                                <Field>
                                                    <FieldLabel>
                                                        PSČ
                                                    </FieldLabel>
                                                    <TextEdit ElementId="teZipCode" Role="TextRole.Text" @bind-Text="@signerInfoModel.PostalCode">
                                                        <Feedback>
                                                            <ValidationError/>
                                                        </Feedback>
                                                    </TextEdit>
                                                </Field>
                                            </Validation>
                                            <Validation>
                                                <Field>
                                                    <FieldLabel>
                                                        Město
                                                    </FieldLabel>
                                                    <TextEdit ElementId="teCity" Role="TextRole.Text" @bind-Text="@signerInfoModel.City">
                                                        <Feedback>
                                                            <ValidationError/>
                                                        </Feedback>
                                                    </TextEdit>
                                                </Field>
                                            </Validation>
                                        </Column>
                                        <Column>
                                            <Validation>
                                                <Field>
                                                    <FieldLabel>
                                                        Role podepisujicího (např. zaměstnanec, nájemce, ...)
                                                    </FieldLabel>
                                                    <TextEdit ElementId="teRole" Role=TextRole.Text @bind-Text="@signerInfoModel.Role">
                                                        <Feedback>
                                                            <ValidationError/>
                                                        </Feedback>
                                                    </TextEdit>
                                                </Field>
                                            </Validation>
                                            <Check ElementId="cbCreator" TValue="bool" @bind-Checked="@signerInfoModel.IsProofOfCreation">
                                                Podpis potvrzuje původ vytvoření dokumentu
                                            </Check>
                                            <Check ElementId="cbOwner" TValue="bool" @bind-Checked="@signerInfoModel.IsProofOfOrigin">
                                                Podpis potvrzuje původ dokumentu (jste jeho autorem nebo vznikl uvnitř Vaši společnos)
                                            </Check>
                                        </Column>
                                    </Row>
                                </Form>
                            </Validations>
                        }
                    </StepPanel>
                    <StepPanel Name="@step2Name">
                    @if (generalModel.ProfileType == ProfileTypes.CAdES)
                    {
                        <Validations @ref="cadesValidations" Model="@cadesModel" Mode=ValidationMode.Auto ValidateOnLoad=false>
                            <Form>
                                <Row>
                                    <Column>
                                        <Validation>
                                            <Field>
                                                <FieldLabel>
                                                    Typ podpisu CAdES
                                                </FieldLabel>
                                                <Select ElementId="selectCadesType" TValue="CadesTypes" @bind-SelectedValue="@cadesModel.CadesType">
                                                    @foreach (var item in Enum.GetValues<CadesTypes>())
                                                    {
                                                        <SelectItem Value="@item">@item</SelectItem>
                                                    }
                                                </Select>
                                                <FieldHelp>
                                                    <ValidationError/>
                                                </FieldHelp>
                                            </Field>
                                        </Validation>
                                    </Column>
                                    <Column>
                                        <Validation>
                                            <Field>
                                                <FieldLabel>
                                                    Umístění podpisu
                                                </FieldLabel>
                                                <Select ElementId="selectCadesDetached" TValue="bool" @bind-SelectedValue="@cadesModel.IsDetached">
                                                    <SelectItem Value="false">Podpis jako součást podepisovaných dat</SelectItem>
                                                    <SelectItem Value="true">Podpis jako soubor zvlášť</SelectItem>
                                                </Select>
                                                <FieldHelp>
                                                    <ValidationError/>
                                                </FieldHelp>
                                            </Field>
                                        </Validation>
                                    </Column>
                                </Row>
                            </Form>
                        </Validations>
                    }
                    else if (generalModel.ProfileType == ProfileTypes.XAdES)
                    {
                        <Validations @ref="xadesValidations" Model="@xadesModel" Mode=ValidationMode.Auto ValidateOnLoad=false>
                            <Form>
                                <Row>
                                    <Column>
                                        <Validation>
                                            <Field>
                                                <FieldLabel>
                                                    Typ podpisu XAdES
                                                </FieldLabel>
                                                <Select ElementId="selectXadesType" TValue="XadesTypes" @bind-SelectedValue="@xadesModel.XadesType">
                                                    @foreach (var item in Enum.GetValues<XadesTypes>())
                                                    {
                                                        <SelectItem Value="@item">@item</SelectItem>
                                                    }
                                                </Select>
                                                <FieldHelp>
                                                    <ValidationError/>
                                                </FieldHelp>
                                            </Field>
                                        </Validation>
                                    </Column>
                                    <Column>
                                        <Validation>
                                            <Field>
                                                <FieldLabel>
                                                    Umístění podpisu
                                                </FieldLabel>
                                                <Select ElementId="selectXadesDetached" TValue="bool" @bind-SelectedValue="@xadesModel.IsDetached">
                                                    <SelectItem Value="false">Podpis jako součást podepisovaných dat</SelectItem>
                                                    <SelectItem Value="true">Podpis jako soubor zvlášť</SelectItem>
                                                </Select>
                                                <FieldHelp>
                                                    <ValidationError/>
                                                </FieldHelp>
                                            </Field>
                                        </Validation>
                                    </Column>
                                </Row>
                            </Form>
                        </Validations>
                    }
                    else
                    {
                        <Validations @ref="padesValidations" Model="@padesModel" Mode="ValidationMode.Auto" ValidateOnLoad="false">
                            <Form>
                            <Row>
                                <Column>
                                    <Validation>
                                        <Field>
                                            <FieldLabel>
                                                Typ podpisu PAdES
                                            </FieldLabel>
                                            <Select ElementId="selectPadesType" TValue="PadesTypes" @bind-SelectedValue="@padesModel.PadesType">
                                                @foreach (var item in Enum.GetValues<PadesTypes>())
                                                {
                                                    <SelectItem Value="@item">@item</SelectItem>
                                                }
                                            </Select>
                                            <FieldHelp>
                                                <ValidationError/>
                                            </FieldHelp>
                                        </Field>
                                    </Validation>
                                    <Field>
                                        <FieldLabel>
                                            Jméno podepisujícího (nepovinné)
                                        </FieldLabel>
                                        <TextEdit ElementId="teSignerName" Role=TextRole.Text @bind-Text="@padesModel.SignerName"/>
                                        <FieldHelp>
                                            Jméno bude zobrazeno v podrobnostech podpisu PAdES
                                        </FieldHelp>
                                    </Field>
                                    <Field>
                                        <FieldLabel>
                                            Místo podepsání (nepovinné)
                                        </FieldLabel>
                                        <TextEdit ElementId="teSignerLocation" Role=TextRole.Text @bind-Text="@padesModel.SignLocation"/>
                                        <FieldHelp>
                                            Místo bude zobrazeno v podrobnostech podpisu PAdES
                                        </FieldHelp>
                                    </Field>
                                    <Field>
                                        <FieldLabel>
                                            Důvod podepsání (nepovinné)
                                        </FieldLabel>
                                        <TextEdit ElementId="teSignReason" Role=TextRole.Text @bind-Text="@padesModel.SignReason"/>
                                        <FieldHelp>
                                            Důvod bude zobrazen v podrobnostech podpisu PAdES
                                        </FieldHelp>
                                    </Field>
                                    <Validation>
                                        <Field>
                                            <Check TValue="bool" ElementId="cbVisiblePades" @bind-Checked="@padesModel.IsVisible">
                                                Viditelný podpis
                                            </Check>
                                        </Field>
                                    </Validation>
                                </Column>
                                <Column>
                                    @if (padesModel.IsVisible)
                                    {
                                        <Heading Size="HeadingSize.Is4">Výběr umístění viditelného podpisu</Heading>
                                        <Paragraph>
                                            Jednotlivé nastavení umístění viditelného podpisu je nastavován procentech. Přesné rozměry velikosti podpisu a jeho umístění
                                            bude dopočítáné až při samotném vyváření podpisu. Např. pokud zadáte, že podpis bude mít šířku 10% a výšku 5%, výsledná šířka viditelného podpisu bude
                                            10% šířky strany dokumentu a 5% výšky strany dokumentu. Stejný princip funguje i u nastavení pozice, kdy pozice se nastavuje pro levy horní roh viditelného podpisu.
                                        </Paragraph>
                                        <Validation>
                                            <Field>
                                                <FieldLabel>
                                                    Šířka viditelného podpisu - @padesModel.Width%
                                                </FieldLabel>
                                                <FieldBody>
                                                    <Slider ElementId="sliderWidth" Max="100" Min="0" Step="0.5" @bind-Value="padesModel.Width">
                                                        <Feedback>
                                                            <ValidationError/>
                                                        </Feedback>
                                                    </Slider>
                                                </FieldBody>
                                            </Field>
                                        </Validation>
                                        <Validation>
                                            <Field>
                                                <FieldLabel>
                                                    Výška viditelného podpisu - @padesModel.Height%
                                                </FieldLabel>
                                                <Slider ElementId="sliderHeight" Max="100" Min="0" Step="0.5" @bind-Value="padesModel.Height">
                                                    <Feedback>
                                                        <ValidationError/>
                                                    </Feedback>
                                                </Slider>
                                            </Field>
                                        </Validation>
                                        <Validation>
                                            <Field>
                                                <FieldLabel>
                                                    Horizontální umístění viditelného podpisu - @padesModel.PosX%
                                                </FieldLabel>
                                                <Slider ElementId="sliderPosX" Max="PosXSliderMax" Min="0" Step="0.5" @bind-Value="padesModel.PosX">
                                                    <Feedback>
                                                        <ValidationError/>
                                                    </Feedback>
                                                </Slider>
                                            </Field>
                                        </Validation>
                                        <Validation>
                                        <Field>
                                            <FieldLabel>
                                                Vertikální umístění viditelného podpisu - @padesModel.PosY%
                                            </FieldLabel>
                                                <Slider ElementId="sliderPosY" Max="PosYSliderMax" Min="0" Step="0.5" @bind-Value="padesModel.PosY">
                                                    <Feedback>
                                                        <ValidationError/>
                                                    </Feedback>
                                                </Slider>
                                        </Field>
                                        </Validation>
                                        <Validation>
                                            <Field>
                                                <FieldLabel>
                                                    Typ viditelného podpisu
                                                </FieldLabel>
                                                <Select ElementId="selectPadesVisType" TValue="PadesVisibleSignatureTypes" 
                                                        @bind-SelectedValue="@padesModel.PadesVisibleType">
                                                    @foreach (var item in Enum.GetValues<PadesVisibleSignatureTypes>())
                                                    {
                                                        <SelectItem Value="@item">@EnumUtils.GetDisplayName(item)</SelectItem>
                                                    }
                                                </Select>
                                            </Field>
                                        </Validation>
                                        <Validation>
                                            <Field>
                                                Strana dokumentu, na které bude podpis umístěn
                                            </Field>
                                            <NumericEdit ElementId="nePage" TValue="int" @bind-Value="@padesModel.Page" Min="-1" Max="int.MaxValue">
                                                <Feedback>
                                                    <ValidationError />
                                                </Feedback>
                                            </NumericEdit>
                                        </Validation>
                                        <Field>
                                            <FieldLabel>
                                                Barva pozadí viditelného podpisu
                                            </FieldLabel>
                                            <Select ElementId="selectBackColor" TValue="BackgroundColors" @bind-SelectedValue="padesModel.BackgroundColor">
                                                @foreach (var item in Enum.GetValues<BackgroundColors>())
                                                {
                                                    <SelectItem Value="@item">@EnumUtils.GetDisplayName(item)</SelectItem>
                                                }
                                            </Select>
                                        </Field>
                                        @if (padesModel.PadesVisibleType == PadesVisibleSignatureTypes.Text || padesModel.PadesVisibleType == PadesVisibleSignatureTypes.TextAndImage)
                                        {
                                            <Validation>
                                                <Field>
                                                    <FieldLabel>
                                                        Text ve viditelném podpisu
                                                    </FieldLabel>
                                                    <TextEdit ElementId="teSignatureText" Role=TextRole.Text @bind-Text="@padesModel.SignatureText">
                                                        <Feedback>
                                                            <ValidationError/>
                                                        </Feedback>
                                                    </TextEdit>
                                                </Field>
                                            </Validation>
                                        }
                                        @if (padesModel.PadesVisibleType == PadesVisibleSignatureTypes.Image || padesModel.PadesVisibleType == PadesVisibleSignatureTypes.TextAndImage)
                                        {
                                            <Field>
                                                <FieldLabel>
                                                    Obrázek podpisu
                                                </FieldLabel>
                                                <FileEdit ElementId="feImage" Changed="@OnSignatureImageChanged" Multiple=false Filter="image/*">
                                                    <Feedback>
                                                        <ValidationError/>
                                                    </Feedback>
                                                </FileEdit>
                                            </Field>
                                        }
                                    }
                                </Column>
                            </Row>
                            </Form>
                        </Validations>
                    }
                    </StepPanel>
                </Content>
            </Steps>
            <Div Flex=Flex.JustifyContent.Center>
                <Button ElementId="btnBack" Type="ButtonType.Button" Color=Color.Secondary Visibility="@btnBackIsVisible" Margin=Margin.Is2 Clicked="@BtnBackClicked">
                    Předchozí
                </Button>
                <Button ElementId="btnCancel" Type="ButtonType.Button" Color=Color.Primary Visibility="@btnSaveIsVisible" Margin=Margin.Is2 Clicked="@BtnCancelClicked">
                    Zrušit
                </Button>
                <Button ElementId="btnSave" Type="ButtonType.Button" Color=Color.Primary Visibility="@btnSaveIsVisible" Margin=Margin.Is2 Clicked="@BtnSaveClicked" Loading="@isUpdatingExistingProfile">
                    Uložit
                </Button>
                <Button ElementId="btnNext" Type="ButtonType.Button" Color=Color.Secondary Visibility="@btnNextIsVisible" Margin=Margin.Is2 Clicked="@BtnNextClicked">
                    Další
                </Button>
            </Div>
            <Modal @ref="cancelEditingModal">
                <ModalContent Centered="true">
                    <ModalHeader>
                        <ModalTitle Size="HeadingSize.Is4">Zrušení procesu konfigurace podepisovacího profilu</ModalTitle>
                    </ModalHeader>
                    <ModalBody>
                        <Paragraph>Opravdu si přejete zrušit proces tvorby/editace profilu @generalModel.Name a ztratit tak veškeré změny?</Paragraph>
                    </ModalBody>
                    <ModalFooter>
                        <Button ElementId="btnCancelYes" Type="ButtonType.Button" Color="Color.Secondary" Clicked="@BtnModalYesClicked">Ano</Button>
                        <Button ElementId="btnCancelNo" Type="ButtonType.Button" Color="Color.Primary" Clicked="@BtnModalNoClicked">Ne</Button>
                    </ModalFooter>
                </ModalContent>
            </Modal>
            </Authorized>
                <NotAuthorized>
                    <UnauthorizedAccess />
                </NotAuthorized>
            </AuthorizeView>
        </Column>
    </Row>
</Container>

@code {

    [Parameter]
    public string? ProfileId { get; set; }

    private string step1Name = "basicInfoStep";
    private string step2Name = "profileSettingsStep";

    private bool isUpdatingExistingProfile;
    private string selectedStep = "basicInfoStep";
    private bool addSignerInfo;

    private Visibility btnBackIsVisible = Visibility.Invisible;
    private Visibility btnSaveIsVisible = Visibility.Visible;
    private Visibility btnNextIsVisible = Visibility.Visible;

    private Validations generalValidations;
    private Validations cadesValidations;
    private Validations xadesValidations;
    private Validations padesValidations;

    private ProfileGeneralModel generalModel = new();
    private SignerInfoModel signerInfoModel = new();
    private ProfileCadesModel cadesModel = new();
    private ProfileXadesModel xadesModel = new();
    private ProfilePadesModel padesModel = new();

    private Modal cancelEditingModal;


    private double PosXSliderMax => 100 - padesModel.Width;
    private double PosYSliderMax => 100 - padesModel.Height;

    protected override async Task OnInitializedAsync()
    {
        try
        {
            Console.WriteLine($"Parameter - {ProfileId}");
            if (!string.IsNullOrWhiteSpace(ProfileId) && ProfileId?.ToLower() != "new" && long.TryParse(ProfileId, out long profileId))
            {
                var profileDetails = await _profileService.GetFullProfileAsync(profileId);
                if (profileDetails != null)
                {
                    generalModel = new ProfileGeneralModel
                    {
                        Id = profileDetails.Id,
                        Name = profileDetails.Name,
                        HashAlgorithm = profileDetails.HashAlgorithm,
                        ProfileType = profileDetails.ProfileType
                    };

                    if (profileDetails.SignerInfo != null)
                    {
                        addSignerInfo = true;
                        signerInfoModel = new SignerInfoModel
                        {
                            City = profileDetails.SignerInfo.City,
                            Country = profileDetails.SignerInfo.Country,
                            Id = profileDetails.SignerInfo.Id,
                            Province = profileDetails.SignerInfo.Province,
                            Role = profileDetails.SignerInfo.Role,
                            PostalCode = profileDetails.SignerInfo.PostalCode,
                            IsProofOfCreation = profileDetails.SignerInfo.IsProofOfCreation,
                            IsProofOfOrigin = profileDetails.SignerInfo.IsProofOfOrigin
                        };
                    }
                    
                    switch (profileDetails.ProfileType)
                    {
                        case ProfileTypes.CAdES:
                            if (profileDetails.CadesProfile == null)
                                throw new InvalidDataException("Odpověď serveru neobsahuje data o podpisu CAdES");
                            cadesModel = new ProfileCadesModel()
                            {
                                Id = profileDetails.CadesProfile.Id,
                                CadesType = profileDetails.CadesProfile.CadesType,
                                IsDetached = profileDetails.CadesProfile.IsDetached
                            };
                            break;
                        case ProfileTypes.XAdES:
                            if (profileDetails.XadesProfile == null)
                                throw new InvalidCastException("Odpověď serveru neobsahuje data o podpisu XAdES");
                            xadesModel = new ProfileXadesModel
                            {
                                Id = profileDetails.XadesProfile.Id,
                                IsDetached = profileDetails.XadesProfile.IsDetached,
                                XadesType = profileDetails.XadesProfile.XadesType
                            };
                            break;
                        case ProfileTypes.PAdES:
                            if (profileDetails.PadesProfile == null)
                                throw new InvalidDataException("Odpověď serveru neobsahuje data o podpisu PAdES");
                            var pp = profileDetails.PadesProfile;
                            padesModel = new ProfilePadesModel
                            {
                                Id = pp.Id,
                                PadesType = pp.PadesType,
                                SignerName = pp.SignerName,
                                SignLocation = pp.SignLocation,
                                SignReason = pp.SignReason,
                                IsVisible = pp.IsVisible
                            };
                            if (pp.IsVisible)
                            {
                                padesModel.BackgroundColor = pp.BackgroundColor.GetValueOrDefault();
                                padesModel.PadesVisibleType = pp.VisibleSignatureType.GetValueOrDefault();
                                padesModel.Width = pp.Width.GetValueOrDefault();
                                padesModel.Height = pp.Height.GetValueOrDefault();
                                padesModel.PosX = pp.PosX.GetValueOrDefault();
                                padesModel.PosY = pp.PosY.GetValueOrDefault();
                                padesModel.Page = pp.Page.GetValueOrDefault();
                                if (pp.VisibleSignatureType == PadesVisibleSignatureTypes.Text || pp.VisibleSignatureType == PadesVisibleSignatureTypes.TextAndImage)
                                {
                                    padesModel.SignatureText = pp.SignatureText;
                                }
                                if (pp.VisibleSignatureType == PadesVisibleSignatureTypes.Image || pp.VisibleSignatureType == PadesVisibleSignatureTypes.TextAndImage)
                                {
                                    padesModel.SignatureImage = pp.SignatureImage;
                                }
                            }
                            break;
                        default:
                            throw new InvalidDataException("Nepodporovaný typ podpisu");
                    }
                }
                else throw new Exception("Server nevrátil žádná data o profilu");
            }
        }
        catch (Exception ex)
        {
            Console.WriteLine($"Get full profile failed!!!");
            Console.WriteLine(ex.ToString());
            var msg = ex is CertiChainApiException cex && !string.IsNullOrWhiteSpace(cex.ErrorDetails.AdditionalInfo) ?
                cex.ErrorDetails.AdditionalInfo : ex.Message;
            _toastService.ShowError($"Při získávání informací o profilu nastala chyba - {msg}", "Chyba");
        }
    }

    private async Task OnSelectedStepChanged(string name)
    {
        selectedStep = name;

        if (selectedStep == step1Name)
        {
            btnBackIsVisible = Visibility.Invisible;
            btnNextIsVisible = Visibility.Visible;
        }
        else
        {
            btnBackIsVisible = Visibility.Visible;
            btnNextIsVisible = Visibility.Invisible;
        }

        await Task.Delay(1000);
    }

    private async Task BtnBackClicked() => await OnSelectedStepChanged(step1Name);
    private async Task BtnNextClicked() => await OnSelectedStepChanged(step2Name);

    private async Task BtnSaveClicked()
    {
        try
        {
            isUpdatingExistingProfile = true;
            var generalIsValid = await generalValidations.ValidateAll();
            if (generalIsValid == false)
            {
                _toastService.ShowWarning("Základní parametry profilu nejsou správně vyplněny. Podívejte se prosím na první krok - Základní nastavení a zkontrolujte, zda máte všechny položky správně vyplněny", "Varování");
                isUpdatingExistingProfile = false;
                return;
            }

            var profileReq = new ProfileGeneralReqResp()
            {
                Name = generalModel.Name,
                HashAlgorithm = generalModel.HashAlgorithm,
                ProfileType = generalModel.ProfileType
            };

            if (addSignerInfo)
            {
                var signerInfoReq = new SignerInfoModelReqResp()
                {
                    City = signerInfoModel.City,
                    Country = signerInfoModel.Country,
                    Province = signerInfoModel.Province,
                    Role = signerInfoModel.Role,
                    PostalCode = signerInfoModel.PostalCode,
                    IsProofOfCreation = signerInfoModel.IsProofOfCreation,
                    IsProofOfOrigin = signerInfoModel.IsProofOfOrigin
                };
                profileReq.SignerInfo = signerInfoReq;
            }

            switch (generalModel.ProfileType)
            {
                case ProfileTypes.CAdES:
                    var cadesIsValid = await cadesValidations.ValidateAll();
                    if (cadesIsValid == false)
                    {
                        _toastService.ShowWarning("Nastavení profilu CAdES není správně vyplněno. Podívejte se prosím do sekce \"2. Nastavení profilu\" a zkontrolujte nastavené položky.",
                            "Varování");
                        isUpdatingExistingProfile = false;
                        return;
                    }
                    var cadesReq = new ProfileCadesReqResp()
                    {
                        CadesType = cadesModel.CadesType,
                        IsDetached = cadesModel.IsDetached
                    };
                    profileReq.CadesProfile = cadesReq;
                    break;
                case ProfileTypes.XAdES:
                    var xadesIsValid = await xadesValidations.ValidateAll();
                    if (xadesIsValid == false)
                    {
                        _toastService.ShowWarning("Nastavení profilu XAdES není správně vyplněno. Podívejte se prosím do sekce \"2. Nastavení profilu\" a zkontrolujte nastavené položky.",
                            "Varování");
                        isUpdatingExistingProfile = false;
                        return;
                    }
                    profileReq.XadesProfile = new ProfileXadesReqResp()
                    {
                        IsDetached = xadesModel.IsDetached,
                        XadesType = xadesModel.XadesType
                    };
                    break;
                case ProfileTypes.PAdES:
                    var padesIsValid = await padesValidations.ValidateAll();
                    if (padesIsValid == false)
                    {
                        _toastService.ShowWarning("Nastavení profilu PAdES není správně vyplněno. Podívejte se prosím do sekce \"2. Nastavení profilu\" a zkontrolujte nastavené položky",
                            "Varování");
                        isUpdatingExistingProfile = false;
                        return;
                    }
                    var padesReq = new ProfilePadesReqResp()
                    {
                        PadesType = padesModel.PadesType,
                        SignerName = padesModel.SignerName,
                        SignLocation = padesModel.SignLocation,
                        SignReason = padesModel.SignReason,
                        IsVisible = padesModel.IsVisible,
                    };
                    if (padesModel.IsVisible)
                    {
                        padesReq.VisibleSignatureType = padesModel.PadesVisibleType;
                        padesReq.PosX = padesModel.PosX;
                        padesReq.PosY = padesModel.PosY;
                        padesReq.Width = padesModel.Width;
                        padesReq.Height = padesModel.Height;
                        padesReq.Page = padesModel.Page;
                        padesReq.BackgroundColor = padesModel.BackgroundColor;
                        if (padesModel.PadesVisibleType == PadesVisibleSignatureTypes.Text || padesModel.PadesVisibleType == PadesVisibleSignatureTypes.TextAndImage)
                        {
                            padesReq.SignatureText = padesModel.SignatureText;
                        }
                        if (padesModel.PadesVisibleType == PadesVisibleSignatureTypes.Image || padesModel.PadesVisibleType == PadesVisibleSignatureTypes.TextAndImage)
                        {
                            if (padesModel.SignatureImage == null)
                            {
                                _toastService.ShowWarning("Soubor s obrázkem podpisu není vybrán, Pro uložení profilu prosím vyberte obrázek podpisu", "Varování");
                                isUpdatingExistingProfile = false;
                                return;
                            }
                            padesReq.SignatureImage = padesModel.SignatureImage;
                        }
                    }
                    profileReq.PadesProfile = padesReq;
                    break;
            }

            if (ProfileId == "new")
            {
                var res = await _profileService.AddProfileAsync(profileReq);
                isUpdatingExistingProfile = false;
                if (res)
                {
                    _toastService.ShowSuccess("Profil byl úspěšně vytvořen", "Informace");
                    _navManager.NavigateTo(FrontendUris.ProfileManagement, true);
                }
                else _toastService.ShowError("Při vyváření profilu nastala neznámá chyba", "Chyba"); // exception should return
            }
            else // editing existing profile
            {
                profileReq.Id = generalModel.Id;
                
                var res = await _profileService.UpdateProfileAsync(profileReq);
                isUpdatingExistingProfile = false;
                if (res)
                {
                    _toastService.ShowSuccess("Profil byl úspěšně aktualizován", "Informace");
                    _navManager.NavigateTo(FrontendUris.ProfileManagement, true);
                }
                else _toastService.ShowError("Při aktualizaci profilu nastala neznámá chyba", "Chyba"); // exception should return
            }
        }
        catch (Exception ex)
        {
            isUpdatingExistingProfile = false;
            Console.WriteLine($"Add profile failed!!!");
            Console.WriteLine(ex);
            var msg = ex is CertiChainApiException cex && !string.IsNullOrWhiteSpace(cex.ErrorDetails.AdditionalInfo) ?
                cex.ErrorDetails.AdditionalInfo : ex.Message;
            var type = ProfileId == "new" ? "vytváření" : "aktualizaci";
            _toastService.ShowError($"Při {type} nastala chyba - {msg}", "Chyba");

        }
    }

    private async Task OnSignatureImageChanged(FileChangedEventArgs e)
    {
        var file = e.Files?.First();
        await using var bs = new BufferedStream(file.OpenReadStream());
        padesModel.SignatureImage = new byte[bs.Length];
        await bs.ReadAsync(padesModel.SignatureImage, 0, (int)bs.Length);
    }

    private async Task BtnCancelClicked() => await cancelEditingModal.Show();

    private async Task BtnModalNoClicked() => await cancelEditingModal.Hide();

    private async Task BtnModalYesClicked()
    {
        await cancelEditingModal.Hide();
        _navManager.NavigateTo(FrontendUris.ProfileManagement, true);
    }

}
