﻿@page "/profiles/management"
@using System.ComponentModel.Design

@inject IToastService _toastService
@inject NavigationManager _navManager
@inject IProfileService _profileService

<Container Fluid=true Flex=Flex.JustifyContent.Center>
    <Row Width=Width.Is75 Margin=Margin.Is3.FromTop>
        <AuthorizeView>
            <Authorized>
                <Column>
                    @if (isLoadingProfiles)
                    {
                        <Div Flex="Flex.JustifyContent.Center">
                            <Circle Color="@CustomColors.PrimaryOrange" Size="64px" />
                            <Heading Size="HeadingSize.Is4" VerticalAlignment="VerticalAlignment.Middle" Margin="Margin.Is5.FromStart.Is3.FromTop">Probíhá stahování profilů...</Heading>
                        </Div>
                    }
                    else
                    {
                        @if (profiles?.Count > 0)
                        {
                            <Row Width="Width.Is100">
                                @foreach (var profile in profiles)
                                {
                                    <Column ColumnSize="ColumnSize.Is3.OnWidescreen.Is4.OnFullHD.Is6.OnTablet.Is12.OnMobile">
                                        <Card ElementId="@profile.Id.ToString()" Margin="Margin.Is2">
                                            <CardBody>
                                                <CardTitle Size="4">@profile.Name</CardTitle>
                                                <CardText>Typ profilu: @profile.ProfileType</CardText>
                                                <Paragraph Flex="Flex.JustifyContent.Center">
                                                    <Button ElementId="@GetId("btnEdit", profile.Id)" Color="Color.Secondary"
                                                            Clicked="@(() => EditProfile(profile.Id))" Margin="Margin.Is2">
                                                        Upravit
                                                    </Button>
                                                    <Button ElementId="@GetId("btnDelete", profile.Id)" Color="Color.Danger"
                                                            Clicked="@(() => DeleteProfile(profile.Id, profile.Name))" Margin="Margin.Is2">
                                                        Odstranit
                                                    </Button>
                                                </Paragraph>
                                            </CardBody>
                                        </Card>
                                    </Column>
                                }
                            </Row>
                            <Modal @ref="deleteProfileModal">
                                <ModalContent Centered="true">
                                    <ModalHeader>Smazání profilu</ModalHeader>
                                    <ModalBody>
                                        <Paragraph>
                                            Jste si jisti, že chcete odstranit profil @modalProfileName?
                                        </Paragraph>
                                    </ModalBody>
                                    <ModalFooter>
                                        <Button ElementId="btnDeleteModalYes" Type="ButtonType.Button" Color="Color.Primary"
                                                Clicked="@ModalBtnYes" Margin="Margin.Is2">
                                            Ano
                                        </Button>
                                        <Button ElementId="btnDeleteModalNo" Type="ButtonType.Button" Color="Color.Secondary"
                                                Clicked="@ModalBtnNo" Margin="Margin.Is2">
                                            Ne
                                        </Button>
                                    </ModalFooter>
                                </ModalContent>
                            </Modal>
                        }
                        else
                        {
                            <Alert Margin="Margin.Is2" Color=Color.Warning Visible>
                                <Heading Size=HeadingSize.Is4>
                                    Na Vašem profilu zatím neexistují žádné profily.
                                </Heading>
                                <Paragraph>
                                    Zatím nemáte vytvořen žádný podepisovací profil. Podepisovací profily jsou potřeba k procesu podepisování, kdy
                                    podepisovací profil obsahuje všechno potřebné nastavení pro úspěšné vytvoření digitálního podpisu. K vytvoření podpisu, můžete přejít
                                    pomocí tlačítka "Vytvořit profil"
                                </Paragraph>
                            </Alert>
                        }
                        <Button Margin="Margin.Is2" ElementId="btnCreateProfile" Type="ButtonType.Link" To="@FrontendUris.ProfileCreateNew" Color=Color.Primary>
                            Vytvořit profil
                        </Button>
                        <Alert Color="Color.Info" Visible="@isDeletingProfile" Margin="Margin.Is2">
                            <AlertMessage>Probíhá odstraňování profilu @modalProfileName</AlertMessage>
                        </Alert>
                    }
                </Column>
            </Authorized>
            <NotAuthorized>
                <UnauthorizedAccess />
            </NotAuthorized>
        </AuthorizeView>
    </Row>
</Container>


@code {
    private List<ProfileGeneralModel> profiles = new ();
    private Modal deleteProfileModal;
    private string modalProfileName = String.Empty;
    private long deleteId;
    private bool isDeletingProfile;
    private bool isLoadingProfiles = true;

    protected override async Task OnInitializedAsync()
    {
        try
        {
            profiles = await _profileService.GetProfilesAsync();
            isLoadingProfiles = false;
        }
        catch (Exception ex)
        {
            Console.WriteLine(ex);
            var msg = ex is CertiChainApiException cex ? cex.ErrorDetails?.AdditionalInfo : ex.Message;
            _toastService.ShowError($"Při získávání profilů uživatele nastala chyba - {msg}", "Chyba");
            isLoadingProfiles = false;
        }
    }

    private void EditProfile(long profileId)
    {
        _navManager.NavigateTo($"{FrontendUris.ProfileEdit}{profileId}", true);
    }

    private async Task DeleteProfile(long profileId, string profileName)
    {
        try
        {
            modalProfileName = profileName;
            deleteId = profileId;
            await deleteProfileModal.Show();
        }
        catch (Exception ex)
        {
            Console.WriteLine(ex);
            var msg = ex is CertiChainApiException cex ? cex.ErrorDetails?.AdditionalInfo : ex.Message;
            _toastService.ShowError($"Při odstraňování profilu nastala chyba - {ex.Message}", "Chyba");
        }
    }

    private async Task ModalBtnYes()
    {
        try
        {
            await deleteProfileModal.Hide();
            isDeletingProfile = true;
            var res = await _profileService.DeleteProfileAsync(deleteId);
            isDeletingProfile = false;
            deleteId = 0;
            if (res)
            {
                _toastService.ShowSuccess("Profil byl úspěšně odstraněn", "Informace");
                profiles = await _profileService.GetProfilesAsync();
            }
            else _toastService.ShowError("Profil se nepdařilo odstranit z neznámé chyby", "Chyba");
        }
        catch (Exception ex)
        {
            Console.WriteLine(ex);
            var msg = ex is CertiChainApiException cex ? cex.ErrorDetails?.AdditionalInfo : ex.Message;
            _toastService.ShowError($"Při odstraňování profilu nastala chyba - {ex.Message}", "Chyba");
        }
    }

    private async Task ModalBtnNo()
    {
        await deleteProfileModal.Hide();
    }

    private string GetId(string prefix, long profileId) => $"{prefix}_{profileId}";
}
