﻿@inherits LayoutComponentBase

@inject IAccountService _accountService
@inject NavigationManager _navManager
@inject IToastService _toastService

<Layout Sider="false">
    <LayoutHeader Background="Background.Primary">
        <Div Flex="Flex.JustifyContent.Center">
            <Bar Breakpoint="Breakpoint.Desktop" Background="Background.Primary" ThemeContrast="ThemeContrast.Light" Mode="BarMode.Horizontal"
                Width="Width.Is75">
                <BarBrand>
                    <AuthorizeView>
                        <NotAuthorized>
                            <BarLink To="/">
                                <Row>
                                    <Column>
                                        <Image Source="images/Logo_small.svg"/>
                                    </Column>
                                    <Column>
                                         <Heading TextColor="TextColor.Primary" Size="HeadingSize.Is2" VerticalAlignment="VerticalAlignment.Middle"
                                                 Margin="Margin.Is3.FromTop">
                                            CertiChain
                                        </Heading>
                                    </Column>
                                </Row>
                            </BarLink>
                        </NotAuthorized>
                        <Authorized>
                            <BarLink To="@FrontendUris.UserHome">
                                <Row>
                                    <Column>
                                        <Image Source="images/Logo_small.svg"/>
                                    </Column>
                                    <Column>
                                        <Heading TextColor="TextColor.Primary" Size="HeadingSize.Is2" VerticalAlignment="VerticalAlignment.Middle"
                                                 Margin="Margin.Is3.FromTop">
                                            CertiChain
                                        </Heading>
                                    </Column>
                                </Row>
                            </BarLink>
                        </Authorized>
                    </AuthorizeView>
                </BarBrand>
                <BarMenu>
                    <AuthorizeView>
                        <NotAuthorized>
                            <BarEnd>
                                <BarLink To="@FrontendUris.UserLogin" Margin="Margin.Is1.FromEnd" VerticalAlignment="VerticalAlignment.Middle"
                                         ElementId="navLogin">
                                    Přihlášení
                                </BarLink>
                                <BarLink To="@FrontendUris.UserRegister" Margin="Margin.Is1.FromEnd" VerticalAlignment="VerticalAlignment.Middle"
                                         ElementId="navRegister">
                                    Registrace
                                </BarLink>
                            </BarEnd>
                        </NotAuthorized>
                        <Authorized>
                            <BarEnd>
                                <BarItem>
                                    <BarDropdown>
                                        <BarDropdownToggle>@username</BarDropdownToggle>
                                        <BarDropdownMenu>
                                            <BarDropdownItem ElementId="navUserHome" To="@FrontendUris.UserHome">Rozcestník</BarDropdownItem>
                                            <BarDropdownDivider />
                                            <BarDropdownItem ElementId="navLogout" Clicked="@BtnLogoutClicked">Odhlásit se</BarDropdownItem>
                                        </BarDropdownMenu>
                                    </BarDropdown>
                                </BarItem>
                            </BarEnd>
                        </Authorized>
                    </AuthorizeView>
                </BarMenu>
            </Bar>
        </Div>
    </LayoutHeader>
    <LayoutContent Width="Width.Is100">
        @Body
    </LayoutContent>
    <LayoutFooter Fixed="true" Background="Background.Primary">
        <Div Flex="Flex.JustifyContent.Center">
            <Heading Size="HeadingSize.Is6" Margin="Margin.Is3">© Univerzita Tomáše Bati - Fakulta aplikované informatiky 2022</Heading>
        </Div>
    </LayoutFooter>
    <BlazoredToasts Position="Blazored.Toast.Configuration.ToastPosition.BottomRight"
        Timeout="5" IconType="IconType.FontAwesome" SuccessIcon="fas fa-check" WarningIcon="fas fa-exclamation"
        ErrorIcon="fas fa-times" ShowProgressBar="true" ShowCloseButton="true" />
</Layout>

@code {
    private string username = string.Empty;

    protected override async Task OnInitializedAsync()
    {
        var isLoggedIn = await _accountService.GetIsLoggedInAsync();
        if (isLoggedIn)
        {
            username = await _accountService.GetUsernameAsync();
        }
    }

    private async Task BtnLogoutClicked()
    {
        try
        {
            var res = await _accountService.LogoutAsync();
            if (res) _navManager.NavigateTo("/");
            else _toastService.ShowError("Nepodařilo se Vás odhlásit", "Chyba");
        }
        catch (Exception ex)
        {
            _toastService.ShowError($"Při odhlašování nastala chyba - {ex.Message}", "Chyba");
        }
    }
}
