﻿<Container Fluid=true Height=Height.Is100>
    <Div Flex=Flex.JustifyContent.Center Height=Height.Is100>
        <Row Width=Width.Is75 Height=Height.Is100>
            <Column ColumnSize=ColumnSize.Is4>
                <Icon Name=IconName.Lock IconSize=IconSize.x9 Position=Position.Absolute.Start.Is50.Top.Is50.Translate.Middle TextColor=TextColor.Warning />
            </Column>
            <Column ColumnSize=ColumnSize.Is8>
                <Column Position=Position.Absolute.Top.Is50.Translate.MiddleY>
                    <Heading Size=HeadingSize.Is2>
                        Neoprávněný přístup
                    </Heading>
                    <Paragraph>
                        Snažíte se vstoupit do sekce, do které nemáte přístup. Pro zpřístupnění této sekce je potřeba se <Link To="/user/login">přihlásit</Link> nebo si <Link To="user/register">vytvořit nový účet</Link>.
                    </Paragraph>
                </Column>
            </Column>
        </Row>
    </Div>
</Container>

@code {

}
